<font size="6">**Reading tabular files in Python**</font><br>

> (c) 2025 Antonio Piemontese

# Data in Python (in Data Science)
In Data Science we are often interested in:
- analysing **past data**, not in real time
- analysing a **single file**, not the DB

These data are usually **tabular files**, so called because they are <u>made of rows and columns</u> (2 dimensions). They are usually **created by users**, received **from other companies**, or **simply exported from a DB** (as an export).

One of the most widespread tabular formats for importing data into Python is the [**CSV**](https://en.wikipedia.org/wiki/Comma-separated_values) format. It is practically **ubiquitous in all tabular data‚Äëmanagement tools and environments**: Excel, Google Sheets, all relational DBs, etc.

Even though in Python you can load **any kind of file** (xml, json, PDF, txt, etc.) and access **any kind of database** (Oracle, PostgreSQL, MySQL, etc.), the simplest and most efficient format to load in memory (into a `pandas` dataframe) is CSV.

```python
import pandas as pd
df = pd.read_csv('data.csv')
df = pd.read_excel('data.xlsx')
```

If you want **more performant** alternatives, nowadays `cuDF` (with GPU) or `Polars` are used a lot.

<p style="color:red; font-size:18px; font-weight:bold;">
üö® Tabular files (and also the SQL tables we will see later) are usually loaded in a pandas dataframe üö®
</p>
Pandas is convenient but it is not the only way to import tabular files in Python.<br>

> ‚ÄúA CSV or Excel file (**a *tabular* file**) may look like a table as in the database, but it is only a container of raw data.
An SQL table instead is a controlled structure, with rules, types and relations, which the database manages in a consistent, safe and transactional way.‚Äù

# Reading tabular files through specific libraries

To read <u>csv</u> tabular files a **first option** is the **`csv` library**, i.e. Python‚Äôs **built‚Äëin CSV**.<br>
The reason for this choice, which however has many limits, is to avoid loading the *pandas* package (heavy) and to avoid dependency problems.

In [1]:
import csv

with open("Credit_ISLR.csv", newline="") as f:
    reader = csv.reader(f)
    for i, row in enumerate(reader):
        print(row)
        if i >= 20:   # print only the first 20 rows (0‚Äì19)
            break

['', 'ID', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender', 'Student', 'Married', 'Ethnicity', 'Balance']
['1', '1', '14.891', '3606', '283', '2', '34', '11', ' Male', 'No', 'Yes', 'Caucasian', '333']
['2', '2', '106.025', '6645', '483', '3', '82', '15', 'Female', 'Yes', 'Yes', 'Asian', '903']
['3', '3', '104.593', '7075', '514', '4', '71', '11', ' Male', 'No', 'No', 'Asian', '580']
['4', '4', '148.924', '9504', '681', '3', '36', '11', 'Female', 'No', 'No', 'Asian', '964']
['5', '5', '55.882', '4897', '357', '2', '68', '16', ' Male', 'No', 'Yes', 'Caucasian', '331']
['6', '6', '80.18', '8047', '569', '4', '77', '10', ' Male', 'No', 'No', 'Caucasian', '1151']
['7', '7', '20.996', '3388', '259', '2', '37', '12', 'Female', 'No', 'No', 'African American', '203']
['8', '8', '71.408', '7114', '512', '2', '87', '9', ' Male', 'No', 'No', 'Asian', '872']
['9', '9', '15.125', '3300', '266', '5', '66', '13', 'Female', 'No', 'No', 'Caucasian', '279']
['10', '10', '71.061', '6819', '491', '3', '41', '19', 'Female', 'Yes', 'Yes', 'African American', '1350']
['11', '11', '63.095', '8117', '589', '4', '30', '14', ' Male', 'No', 'Yes', 'Caucasian', '1407']
['12', '12', '15.045', '1311', '138', '3', '64', '16', ' Male', 'No', 'No', 'Caucasian', '0']
['13', '13', '80.616', '5308', '394', '1', '57', '7', 'Female', 'No', 'Yes', 'Asian', '204']
['14', '14', '43.682', '6922', '511', '1', '49', '9', ' Male', 'No', 'Yes', 'Caucasian', '1081']
['15', '15', '19.144', '3291', '269', '2', '75', '13', 'Female', 'No', 'No', 'African American', '148']
['16', '16', '20.089', '2525', '200', '3', '57', '15', 'Female', 'No', 'Yes', 'African American', '0']
['17', '17', '53.598', '3714', '286', '3', '73', '17', 'Female', 'No', 'Yes', 'African American', '0']
['18', '18', '36.496', '4378', '339', '3', '69', '15', 'Female', 'No', 'Yes', 'Asian', '368']
['19', '19', '49.57', '6384', '448', '1', '28', '9', 'Female', 'No', 'Yes', 'Asian', '891']
['20', '20', '42.079', '6626', '479', '2', '44', '9', ' Male', 'No', 'No', 'Asian', '1048']

It is **very lightweight**, but you have to handle **everything manually** (types, header, encoding...):
- type handling (everything is a string) ‚Äì the `csv` module does not automatically convert types: everything it reads is a string.
- header handled manually ‚Äì the `csv` module does not know by itself whether the first line is a header or data.
- encoding issues ‚Äì if the file is not UTF‚Äë8 (e.g. it is `latin-1` or `windows-1252`), `open()` will raise an error or show strange characters.
- different separators (`,` or `;` or `\t`) ‚Äì CSV files are not always comma‚Äëseparated ‚Äî in Italy often `;` or tabs.
- quotes and special characters ‚Äì if a field contains a comma or a newline, parsing can break if you don‚Äôt use the right parameters.
- missing data (empty cells) ‚Äì there is no concept of `NaN`.
- with millions of rows, `csv.reader` is faster than pandas at reading raw rows, but then you cannot easily filter, join, or operate on data.

**In short**:<br>
Using plain `csv` is like reading the file ‚Äúby hand‚Äù: we have full control but all the work is on us. *pandas* (or *Polars*) instead understand header, types, separators, encoding, missing, etc. automatically.

A **second option** is the **`openpyxl`** module (for Excel **.xlsx** files).

In [2]:
from openpyxl import load_workbook

wb = load_workbook("Credit_ISLR.xlsx")
ws = wb.active

for i, row in enumerate(ws.iter_rows(values_only=True)):
    print(row)
    if i >= 19:    # index starts from 0 ‚Üí 0‚Äì19 = 20 rows
        break

('Column1', 'ID', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender', 'Student', 'Married', 'Ethnicity', 'Balance')
(1, 1, 14891, 3606, 283, 2, 34, 11, ' Male', 'No', 'Yes', 'Caucasian', 333)
(2, 2, 106025, 6645, 483, 3, 82, 15, 'Female', 'Yes', 'Yes', 'Asian', 903)
(3, 3, 104593, 7075, 514, 4, 71, 11, ' Male', 'No', 'No', 'Asian', 580)
(4, 4, 148924, 9504, 681, 3, 36, 11, 'Female', 'No', 'No', 'Asian', 964)
(5, 5, 55882, 4897, 357, 2, 68, 16, ' Male', 'No', 'Yes', 'Caucasian', 331)
(6, 6, 8018, 8047, 569, 4, 77, 10, ' Male', 'No', 'No', 'Caucasian', 1151)
(7, 7, 20996, 3388, 259, 2, 37, 12, 'Female', 'No', 'No', 'African American', 203)
(8, 8, 71408, 7114, 512, 2, 87, 9, ' Male', 'No', 'No', 'Asian', 872)
(9, 9, 15125, 3300, 266, 5, 66, 13, 'Female', 'No', 'No', 'Caucasian', 279)
(10, 10, 71061, 6819, 491, 3, 41, 19, 'Female', 'Yes', 'Yes', 'African American', 1350)
(11, 11, 63095, 8117, 589, 4, 30, 14, ' Male', 'No', 'Yes', 'Caucasian', 1407)
(12, 12, 15045, 1311, 138, 3, 64, 16, ' Male', 'No', 'No', 'Caucasian', 0)
(13, 13, 80616, 5308, 394, 1, 57, 7, 'Female', 'No', 'Yes', 'Asian', 204)
(14, 14, 43682, 6922, 511, 1, 49, 9, ' Male', 'No', 'Yes', 'Caucasian', 1081)
(15, 15, 19144, 3291, 269, 2, 75, 13, 'Female', 'No', 'No', 'African American', 148)
(16, 16, 20089, 2525, 200, 3, 57, 15, 'Female', 'No', 'Yes', 'African American', 0)
(17, 17, 53598, 3714, 286, 3, 73, 17, 'Female', 'No', 'Yes', 'African American', 0)
(18, 18, 36496, 4378, 339, 3, 69, 15, 'Female', 'No', 'Yes', 'Asian', 368)
(19, 19, 4957, 6384, 448, 1, 28, 9, 'Female', 'No', 'Yes', 'Asian', 891)

A **third** option is the `xlrd` or `xlwt` module ‚Äì still for Excel ‚Äì for reading and writing `.xls`.<br>
‚ö†Ô∏è Deprecated for `.xlsx`, so today they are less recommended.

So, in a nutshell:<br>
![](sintesi_formati_tabellari_en.png)

# Loading into pandas

If you only want to read/write (tabular) files without installing heavy external libraries, you can use `csv` or `openpyxl`, as shown before.

Otherwise, you use the [**dataframes**](https://en.wikipedia.org/wiki/Pandas_(software)#DataFrames), which are the **most used data structure in Data Science**:
- they live in memory
- they can be loaded from disk or saved to disk with the `pd.read_***` functions or with the `df.to_XXX` methods for the following formats:<br>
*clipboard, csv, excel, html, json, parquet, pickle, sas, sql, spss, stata, xml*.

To load a *csv* or *xlsx* tabular file into a dataframe you use these two *pandas* functions:
```python
    import pandas as pd
    df = pd.read_csv('data.csv')
    df = pd.read_excel('data.xlsx')
```

If you want **more performant** alternatives, nowadays `cuDF` (with GPU) or `Polars` are used a lot.

<p style="color:red; font-size:18px; font-weight:bold;">
üö® Tabular files (and also the SQL tables we will see later) are usually loaded in a pandas dataframe üö®
</p>
Pandas is convenient but it is not the only way to import tabular files in Python.<br>

# Excel or csv?
What is the best format to import tabular files? Excel or csv?<br>
It depends on the goal and on the context, but **in most cases CSV is more efficient, transparent and robust, whereas Excel is more convenient for the human user**.

---

Let‚Äôs compare **CSV vs Excel** from the <u>technical</u> point of view and from the <u>human</u> point of view.

---

---
**"External libraries"**: what does it mean?<br>
The function `pd.read_excel()` is built into pandas, but it does not do *everything* by itself: for some Excel formats it relies on **external libraries** that actually handle the Excel format.<br>
That is, how does `pd.read_excel()` really work?<br>
When you call:
```python
import pandas as pd
df = pd.read_excel("data.xlsx")
```
pandas:
- recognises the file format (e.g. `.xls`, `.xlsx`, `.xlsb`)
- uses an external ‚Äúengine‚Äù to read the data
- turns what it reads into a `DataFrame`

---

**3. Performance: indicative comparison**:<br>
![](performance_csv_excel_en.png)

**4. In practice**:<br>
üëâ If the file **comes from a system or an application** (ERP, CRM, management, accounting, ‚Ä¶) it is almost always better to receive it as **CSV**.<br>
üëâ If the file **is made by a person** and must be read by a person, Excel is nicer, but as soon as you need to automate the processing, CSV (or another machine‚Äëfriendly format) becomes preferable.<br>

üëâ In any case you can always convert Excel ‚Üí csv with `pandas.to_csv()` or `to_parquet()` for internal / efficient storage.

# The importance and spread of the *csv* format
Let‚Äôs see in more detail **why the CSV format is so ubiquitous in the data world**: practically one cannot imagine a tool for managing tabular data (Excel, Google Sheets, LibreOffice Calc, most reporting, BI and relational DB tools, etc.) that does not allow csv import/export.

# The importance and diffusion of the *csv* format
Let‚Äôs see in more detail **why the CSV format is so ubiquitous in the data world** (it is found everywhere, always).
It is a format supported by almost all tools (Excel, DBs, BI, reporting, data‚Äëscience tools...).
![](importanza_csv_en.png)

# Technical reasons for the diffusion of csv
There are several **very concrete technical reasons** that explain why the CSV format is so omnipresent in the data world.<br>
Here is a clear and technical summary table:

![](diffusione_csv_en.png)

üí° In short:<br>
CSV is the **‚Äúlowest common denominator‚Äù of tabular data**: simple, textual, line‚Äëbased, without dependencies and compatible with everything ‚Äî from Excel to Spark.<br>
It is not perfect (no types, schema, compression or metadata), but exactly **its structural poverty is its strength**.

# Reading CSV files in pandas

As said, in Data Science we often are NOT interested in the online DB but in **a local file**, which can be of various formats (csv, json, parquet, etc.).

## 3 technical notes on the CSV format

* the two main arguments of the pandas `read_csv` method are the **column separator** (default `,`) and the **presence** (and possible number) of heading rows (header).
* there are different csv formats available from Excel; you must choose the correct one (see the YouTube video of *Excel Tutorials by EasyClick Academy*).
  
  ![](tipi_csv_en.png)
* [pros and cons](https://towardsdatascience.com/why-i-stopped-dumping-dataframes-to-a-csv-and-why-you-should-too-c0954c410f8f) of the csv format

A csv file is textual and therefore can also be read in Notepad.

Let‚Äôs load in *pandas* the well‚Äëknown banking file `Credit_ISLR`:

In [3]:
import pandas as pd
df_credit = pd.read_csv("Credit_ISLR.csv",header=0)
df_credit

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

As you can see, the *pandas* `read_csv` function automatically created the column with index, so the original index `ID` is now <u>redundant</u>, and it added a column `Unnamed: 0` (we will see later why). It is good to drop both because they are useless.

In [4]:
df_credit.drop(columns=['Unnamed: 0', 'ID'], inplace=True)

In [5]:
df_credit.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

## Is pandas ‚Äúheavy‚Äù?

‚öôÔ∏è What does it mean that ‚Äúpandas is heavy‚Äù? It is, in several ways:

1Ô∏è‚É£ **Size and complexity**

* Pandas is not a tiny library:<br>

  * installing it brings in a lot of dependencies:
  * `numpy`, `dateutil`, `pytz`, `tzdata`, `matplotlib`, `openpyxl`, `xlrd`, etc.
* The package size is **dozens of MB**.
* Loading it into memory at startup is **slower** than a simple `import csv`.

üëâ So for a script that just has to read a CSV file and print 10 rows, importing the whole of pandas is like using a truck to deliver a letter.

2Ô∏è‚É£ **External dependencies**<br>

To work well with many formats, pandas uses external libraries (as mentioned above):

* `openpyxl` for *.xlsx* files
* `xlrd` for *.xls* files
* `pyarrow` for *.parquet* files
* `numexpr` for numeric operations
* `matplotlib` for `.plot()`<br>

üëâ These dependencies are convenient in a data-science environment,
but excessive in a system script or a microservice.

3Ô∏è‚É£ **Impact on small environments**<br>

In contexts such as:

* Docker microservices
* lightweight CLI scripts
* serverless functions (AWS Lambda, GCP Functions)
* systems with memory constraints

importing pandas can:

* slow down the script startup,
* increase the Docker image by tens or even hundreds of MB,
* lead to incompatibilities or long cold-start times.

**That‚Äôs why sometimes you want to ‚Äúavoid pandas‚Äù:**

* You don‚Äôt need its advanced analytics features.
* You just want to read a file and iterate over its rows.
* You want to reduce dependencies and startup time.

In that case it makes more sense to use:

```python
  import csv      # for CSV files
  import openpyxl # for modern Excel files
```

which are much lighter modules.

üß† **Metaphor**<br>
Pandas is like Excel or a full ERP system.<br>
If you just need to open a text file and print two columns, Notepad is enough.

## Converting Excel files to CSV format

Conversely, to view a CSV file **in the standard Excel format** you can do this (there are other ways too):
* open a **new file**
* `Data` tab
* button at the top left `Get Data`
* `From file` --> `From text/CSV`
* in the preview make any changes (on loading) ‚Äì maybe it‚Äôs enough ‚Äì and then press the "Load" button at the bottom right.

This process is well described in the video [How to Convert CSV to Excel (Simple and Quick)](https://www.youtube.com/watch?v=jw1DSuqr3ew) from *Excel Tutorials by EasyClick Academy*. Subtitles are available.

If a file is created in Excel and then converted to CSV, saved, and later reopened in Excel, Excel shows it ‚Äúas Excel‚Äù (i.e. with the grid). Why?<br>

Excel doesn‚Äôt open the CSV as a real Excel file ‚Äî it **parses it as a text table** and displays it in the same UI (cells, rows, columns).<br>
That makes it *look* like Excel, but the file actually doesn‚Äôt contain any of the typical `.xlsx` features:

* no formatting,
* no formulas,
* no multiple sheets,
* no complex data types.

Excel is simply showing **a grid on top of a text file**.<br>
It‚Äôs a bit like opening a `.txt` file in Word: the content is just text, but the environment is Word, with its ‚Äúrich‚Äù look.

üí° One-sentence summary:<br>

> Excel detects the `.csv` extension, interprets the data as tabular, and shows it in its interface ‚Äî but the file remains plain structured text, not a real Excel workbook.

**Objection**: if I open in Excel a CSV that was generated independently of Excel, the grid is not applied.<br>
True, Excel doesn‚Äôt parse CSV ‚Äúsmartly‚Äù based on the content ‚Äî it uses the system‚Äôs **regional settings** (the Windows ‚Äúlocale‚Äù or ‚Äúlist separator‚Äù).<br>
For example:

* in Europe, the default list separator is `;` (semicolon);
* in the US/UK, it‚Äôs `,` (comma).

So:

* if the CSV comes from Excel, it uses the same separator as your regional settings ‚Üí Excel ‚Äúrecognizes‚Äù it and shows the table.
* if the CSV comes from another program (e.g. Python `to_csv()`, MySQL, or international systems) that uses the comma, Excel doesn‚Äôt know that‚Äôs the separator and puts everything in a single cell.

The user can fix it manually:

```text
Data ‚Üí From Text/CSV ‚Üí choose the correct delimiter (comma, semicolon, tab)
```

or change the system‚Äôs regional setting.

üí° In short:

> Excel ‚Äútreats as a table‚Äù only those CSV files that follow its regional conventions (separator and encoding).<br>
> If the file is generated elsewhere with other standards, Excel shows it as text in one column.

---
## Summary table ‚Äî Ways to open a CSV with the correct grid

| # | Method           | Path in Excel | Advantage | When to use it |
|---|------------------|---------------|-----------|----------------|
| 1 | **Guided import (recommended)** | **Data ‚Üí From Text/CSV ‚Üí** select the file ‚Üí choose **Delimiter** (comma, semicolon, tab) ‚Üí **Load** | Detects separator, encoding and shows a preview | Always, if the CSV was **not** generated by Excel |
| 2 | **Set system default separator (Windows)** | **Control Panel ‚Üí Region ‚Üí Additional settings ‚Üí ‚ÄúList separator‚Äù ‚Üí** set `,` or `;` | Excel opens CSV correctly with double-click | Useful if you often open CSVs with the **same** delimiter |
| 3 | **Rename file and change extension (trick)** | Rename `.csv` to `.txt`, then **Data ‚Üí From Text ‚Üí** follow the wizard | Forces you to choose the delimiter | Useful if Excel keeps putting everything into **one column** |
| 4 | **Open Excel first, then ‚ÄúOpen ‚Üí File ‚Üí CSV‚Äù** | **File ‚Üí Open ‚Üí Browse ‚Üí** file type: **All files** ‚Üí pick the CSV ‚Üí the import window appears | Lets you choose encoding and separator | Alternative to importing from **Data** |
| 5 | **Change Excel language/locale (optional)** | **File ‚Üí Options ‚Üí Advanced ‚Üí List separator** | Aligns Excel to the file format (e.g. US = `,`, Italy = `;`) | For mixed international / cloud usage |

---
üí¨ **Short explanation**

When Excel shows everything in one column, it‚Äôs because:

* the file delimiter (e.g. `,`)
  ‚â†
* the system list separator (e.g. `;` in Italy).

üëâ Fix: use the import wizard, which lets you choose the delimiter and encoding (UTF-8 recommended).<br>
After that choice, Excel immediately shows the correct grid and you can save as `.xlsx` if you want to keep it stable.

üí° Practical tip for those who often work with Python or external CSVs:

* use

  ```python
    df.to_csv("file.csv", sep=";", encoding="utf-8-sig")
  ```

  ‚Üí this way Excel (Italian version) opens it already ‚Äúas a grid‚Äù with no manual steps.
* `utf-8-sig` is a variant of UTF-8 encoding commonly used so that Excel correctly recognizes CSV files.

# Input parameters of `pd.read_csv` function

We have already mentioned the two **fundamental input arguments** of the pandas `read_csv` function: `sep` and `header`. They are **critical**:

- `header=1` tells pandas to skip the first row of the file and use the second row as the header.<br>
  If our CSVs do **not** have two header rows, or if the first file has a slightly different format from the others (spaces, separator, BOM, etc.), pandas will **misinterpret the columns**.
- `sep=';'` can break all the data (if the file is actually a real CSV with commas!).<br>
  Be careful: many ‚ÄúCSV files‚Äù actually use `sep=';'`!

In reality, the `read_csv` function has **many other input arguments**, as you can see from the help in the next cell ‚Äî we will later go deeper into the **main** ones.

In [6]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>
) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.

> Reading a *csv* file is often one of the **first real difficulties** that those who start using pandas run into.
> The reason is that csv reading is simple in theory but in practice often the data is dirty, mixed, encoded differently, irregular.
> This makes the initial approach a bit **tricky**, a source of **not a few frustrations**, for two reasons:
> - the many and non‚Äëtrivial arguments of the `read_csv` function
> - the **irregularities** in the data in the files

## The mapping

The function `pd.read_csv` does an **automatic mapping** of CSV data into pandas, as described here:

![](how_pandas_infers_CSV_datatypes.png)

There is a problem that is not mentioned in the slide: the `read_csv` function **often fails to infer categorical variables** (when they are present in the CSV file as strings), so they are imported as `object`, the generic pandas string data type. As you can see:

In [7]:
df_credit.dtypes

Income       float64
Limit          int64
Rating         int64
Cards          int64
Age            int64
Education      int64
Gender        object
Student       object
Married       object
Ethnicity     object
Balance        int64
dtype: object

The variables `Gender`, `Student`, `Married` and `Ethnicity` are **categorical** in nature: that is, they can only take on a small, fixed number of values.
Other variables such as `Education`, if imported as text, could potentially take on an infinite number of values.

Each cell of the variable, if imported as `object`, **points to a string in memory, often duplicated several times**.

It is therefore necessary to **convert** these variables to the `category` format available from *pandas* (it does not exist in base Python), as follows:

In [8]:
df_credit['Gender'] = df_credit['Gender'].astype('category')
df_credit.dtypes

Income        float64
Limit           int64
Rating          int64
Cards           int64
Age             int64
Education       int64
Gender       category
Student        object
Married        object
Ethnicity      object
Balance         int64
dtype: object

The *pandas* method `astype('category')`:

* creates an **internal encoding table** (the ‚Äúlevels‚Äù or ‚Äúcategories‚Äù),
* represents the column as **internal integers** (0, 1, 2, ‚Ä¶) instead of repeated strings.

The behavior of `category` is similar to the **factor** in R.

üöÄ <font size="4">**Main advantages** (of `category`)</font><br>

üîπ **Memory efficiency**<br>
Each value becomes **an integer**, and the string is **stored only once in the category table**.<br>
üëâ On large datasets, the saving can reach 70‚Äì90% of RAM.
Example:

```python
    df['citt√†'].memory_usage(deep=True)
    df['citt√†'].astype('category').memory_usage(deep=True)
```

The second one takes much less space.

üîπ **Processing speed**<br>
Many pandas operations (`groupby`, `sort`, `value_counts`, `merges`) become **much faster**; in fact:

* comparing integers is faster than comparing strings,
* grouping and join algorithms work on numeric codes.
  üí° Typical case: `df.groupby('categoria').agg(...)` is much faster if `categoria` is `category`.

üîπ **Semantic meaning**<br>
A categorical variable has **a finite and known number of levels**.<br>
This is useful to:

* ensure that ‚Äúout-of-list‚Äù values don‚Äôt appear (e.g. ‚ÄòFemmina‚Äô vs ‚ÄòF‚Äô),
* keep the logical or hierarchical order (e.g. Low < Medium < High).<br>

You can also explicitly define the order like this:

```python
    df['livello'] = pd.Categorical(df['livello'], categories=['basso','medio','alto'], ordered=True)
```

‚Üí useful for comparisons, sorting, or encoding in machine learning.

üîπ **ML and preprocessing compatibility**<br>
Many machine-learning algorithms or encoders (e.g. `sklearn.preprocessing.OrdinalEncoder`, `OneHotEncoder`) detect `category` and immediately treat it as a discrete variable, **without first having to convert it from object**.

---

‚ö†Ô∏è **When is `category` not convenient?**

* if the column has **many unique values** (e.g. a unique code or a customer ID), the conversion brings no benefit: the category table would be as large as the column itself.
* if values are frequently changed (adding new categories), the `category` type is less flexible.

üîç **Practical example**:

```python
    import pandas as pd
    df = pd.DataFrame({
        'sesso': ['M','F','M','F','F']*100000
    })
    print(df['sesso'].memory_usage(deep=True))   # object
    df['sesso'] = df['sesso'].astype('category')
    print(df['sesso'].memory_usage(deep=True))   # category (much less!)
```

---

> üí¨ In brief

| Aspect           | `object`             | `category`                      |
|------------------|----------------------|----------------------------------|
| Base type        | Python strings       | integer codes + category list   |
| Memory           | High                 | Very low                        |
| Speed            | Slower               | Faster                          |
| Semantics        | Free text            | Finite discrete values          |
| Machine Learning | Must be encoded first| Already ready / suitable        |

## The arguments of the `pd.read_csv` function

[Here](https://github.com/nikitaprasad21/ML-Cheat-Codes/blob/main/Data-Gathering/CSV-(Comma-Separated-Values)-Files/csv_file_cheatcodes.ipynb) is an excellent notebook that **illustrates the various arguments** of `pd.read_csv` ‚Äì **downloaded** in the directory of this notebook:

## The `Unnamed: 0` column
See [this chat](https://chatgpt.com/share/68f74bca-554c-8012-a844-7260ce18391d) of ChatGPT. Ask for translation.

# Frequent problems when loading CSV files in pandas.

Here is a list of the **most common problems** you encounter when loading a csv with `pandas.read_csv()`, together with **typical causes** and **solutions**:

üß© **1. Columns ‚ÄúUnnamed: 0‚Äù or ‚ÄúUnnamed: n‚Äù** ‚Äì already seen before

<u>Problem</u>: an unwanted column called `Unnamed: 0` appears.<br>
<u>Cause</u>: often the CSV includes an index saved from a previous `DataFrame.to_csv()` (i.e. `index=True` by default).<br>
<u>Solution</u>:
```python
    pd.read_csv("file.csv", index_col=0)
    # oppure
    pd.read_csv("file.csv").drop(columns=["Unnamed: 0"])
```

‚öôÔ∏è **2. Wrong delimiters** ‚Äì already seen before

<u>Problem</u>: the file is not split correctly (all columns end up in a single one).<br> <u>Cause</u>: the separator is not a comma, but a semicolon `;`, a tab `\t`, or something else.<br> <u>Solution</u>:

```python
    pd.read_csv("file.csv", sep=";")      # for European-style CSV
    pd.read_csv("file.csv", sep="\t")     # for TSV files
```

---

A TSV (*Tab-Separated Values*) is basically a CSV, but instead of `,` or `;` it uses the tab character `\t` as the field separator.
You can also detect it automatically:

```python
    pd.read_csv("file.csv", sep=None, engine="python")
```

üß© When do you use a TSV?

* when the data contains lots of commas or semicolons (e.g. text descriptions).
* when the file is exported by Unix systems or databases (e.g. PostgreSQL COPY TO, Excel ‚Üí ‚ÄúText (tab delimited)‚Äù).
* when you want to avoid ambiguity between decimal separators and field separators.

---

The `engine` parameter in `pandas.read_csv()` is used to tell pandas which **parsing engine** to use to read and interpret the CSV file.<br>
In practice, pandas has **two different parser engines** that do the same job (read the file and turn it into a DataFrame), but **with different features and performance**.

1Ô∏è‚É£ **`engine="c"`** ‚Üí the ‚Äúfast‚Äù parser (default)

* written in C ‚Üí very fast
* it is the default in almost all cases
* great for clean, regular files
* but‚Ä¶ it is less flexible: it doesn‚Äôt support every option and may fail on ‚Äúmessy‚Äù or complex CSVs

Usage example:

```python
    pd.read_csv("file.csv", engine="c")
```

2Ô∏è‚É£ **`engine="python"`** ‚Üí the ‚Äúrobust‚Äù parser

* written in pure Python ‚Üí slower, but more tolerant
* supports options that the C parser doesn‚Äôt handle well, such as:

  * `sep=None` (i.e. **automatic separator detection**),
  * multiple or irregular delimiters,
  * malformed lines (`on_bad_lines`),
  * complex quotes and special characters.

Usage example:

```python
    pd.read_csv("file.csv", sep=None, engine="python")
```

üëâ Here pandas tries to guess the separator automatically (`,`, `;`, `\t`, etc.) by looking at the first rows.

---

Let‚Äôs go back to the list of problems and solutions of `read_csv`.

üî§ **3. Wrong encoding**

<u>Problem</u>: accented characters or special symbols appear as ÔøΩ or raise `UnicodeDecodeError`.<br>
<u>Cause</u>: the file is not in `UTF‚Äë8` but in `latin1`, `cp1252`, etc.<br>
<u>Solution</u>:
```python
    pd.read_csv("file.csv", encoding="latin1")
```

> What is `latin1`?
> - `latin1` (or `ISO‚Äë8859‚Äë1`) is a 1‚Äëbyte (8‚Äëbit) encoding **widely used in Western Europe** before UTF‚Äë8 became standard.
> - It supports many Western European characters:
>   - Italian accented letters: `√†`, `√®`, `√©`, `√¨`, `√≤`, `√π`, ...
>   - Spanish/French/Portuguese letters: `√±`, `√ß`, `√°`, `√©`, `√µ`, ...
>   - German umlaut vowels: `√§`, `√∂`, `√º`, ...
>   - Nordic `√∏`, `√•`
>
> **BUT** latin1 does NOT support:
> - emoji
> - euro symbol `‚Ç¨`
> - Greek, Cyrillic, Arabic, Chinese, etc.
>
> **So `latin1` is basically ‚ÄúWestern Europe in the 90s‚Äù.** If we encounter characters outside that set, pandas either shows the replacement char or throws `UnicodeDecodeError`.

<img src="ascii_latin1_utf_8.png" alt="image" width="600">

Test of **some errors**, in various steps:<br>
1. we create a `DataFrame` with typical `latin1` characters

In [9]:
import pandas as pd

df = pd.DataFrame({
    "ID": [1, 2, 3],
    "Nome": ["Andr√©", "Jos√©", "Ana Mar√≠a"],
    "Citt√†": ["Torino", "M√°laga", "Z√ºrich"],
    "Note": [
        "pagato 50$ gi√† fatturato",              # 'latin1' estende ASCII, che conteneva il carattere '$', dunque anche 'latin1' lo accetta
        "a√±o siguiente -> revisi√≥n t√©cnica",
        "pi√π vecchio -> gi√† sostituito"
    ]
})

2. we save the `DataFrame` to a `latin1` (ISO‚Äë8859‚Äë1) CSV

In [10]:
file_name = "clienti_latin1.csv"
df.to_csv(
    file_name,
    index=False,
    sep=";",             # we also set the ';' separator so it is even more realistic "European style"
    encoding="latin1"    # <-- key point
)

print(f"Creato file {file_name} in encoding latin1")

Creato file clienti_latin1.csv in encoding latin1

3. we try to read it again WITHOUT specifying the encoding.<br>
This is what a distracted user usually does:

In [11]:
try:
    df_fail = pd.read_csv(file_name, sep=";")  # no encoding passed, i.e. default = UTF-8
    print("Letto senza errori?! Ecco le prime righe:")
    print(df_fail.head())
except UnicodeDecodeError as e:
    print("‚ö†Ô∏è Errore di decodifica previsto leggendo senza encoding esplicito:")
    print(e)

‚ö†Ô∏è Errore di decodifica previsto leggendo senza encoding esplicito:
'utf-8' codec can't decode byte 0xe0 in position 12: invalid continuation byte

4. it raises an error: we want to read a `latin1` file as `utf‚Äë8`.<br>
correct solution: we read specifying `encoding=latin1`

In [12]:
df_ok = pd.read_csv(file_name, sep=";", encoding="latin1")
print("\nüí° Lettura corretta con encoding='latin1':")
print(df_ok.head())

üí° Lettura corretta con encoding='latin1':
   ID       Nome   Citt√†                               Note
0   1      Andr√©  Torino           pagato 50$ gi√† fatturato
1   2       Jos√©  M√°laga  a√±o siguiente -> revisi√≥n t√©cnica
2   3  Ana Mar√≠a  Z√ºrich      pi√π vecchio -> gi√† sostituito

5. and what happens with the following dataframe, which contains the `‚Ç¨` character (instead of `$`), which is part of neither `Ascii` nor `latin1`?

In [13]:
import pandas as pd

df = pd.DataFrame({
    "ID": [1, 2, 3],
    "Nome": ["Andr√©", "Jos√©", "Ana Mar√≠a"],
    "Citt√†": ["Torino", "M√°laga", "Z√ºrich"],
    "Note": [
        "pagato 50‚Ç¨ gi√† fatturato",
        "a√±o siguiente -> revisi√≥n t√©cnica",
        "pi√π vecchio -> gi√† sostituito"
    ]
})

This code goes wrong:

In [14]:
file_name = "clienti_latin1.csv"
df.to_csv(
    file_name,
    index=False,
    sep=";",             # we also set the ';' separator so it is even more realistic "European style"
    encoding="latin1"    # <-- key point
)

print(f"Creato file {file_name} in encoding latin1")

UnicodeEncodeError: 'latin-1' codec can't encode character '\u20ac' in position 24: ordinal not in range(256)

6. it raises an error, because `latin1` does not contain the `‚Ç¨` character.<br>
We must write in `utf‚Äë8`:

In [ ]:
file_name = "clienti_latin1.csv"
df.to_csv(
    file_name,
    index=False,
    sep=";",             # we also set the ';' separator so it is even more realistic "European style"
    encoding="utf-8"    # <-- key point
)

print(f"Creato file {file_name} in encoding latin1")

Creato file clienti_latin1.csv in encoding latin1

üìâ **4. Wrong data type**

<u>Problem</u>: numeric columns imported as strings (`object`).<br>
<u>Cause</u>: presence of thousand separators, symbols, or empty cells.<br>
<u>Solution</u>:
```python
    pd.read_csv("file.csv", thousands=".", decimal=",")
```
or after the read:
```python
    df["col"] = pd.to_numeric(df["col"], errors="coerce")
```

In [15]:
import pandas as pd

# ###############################################
# 1. CSV CREATION with EUROPEAN FORMATTING      #
# ###############################################

# Notes:
# - "1.234,50" = one thousand two hundred thirtyfour comma fifty
# - "2.000"    = two thousands (integer)
# - ""         = empty cell (missing value)

df_orig = pd.DataFrame({
    "Prodotto": ["A123", "B777", "C900", "D010"],
    "PrezzoUnitario": ["1.234,50", "99,99", "", "2.000,00"],
    "Quantit√†": ["1.000", "250", "", "1.500"]
})

csv_name = "prezzi_legacy.csv"

# We save as CSV with ';' because it is very common in Italian administrative exports
df_orig.to_csv(
    csv_name,
    index=False,
    sep=";",
    encoding="utf-8"
)

print(f"[OK] Creato file CSV '{csv_name}' con separatori migliaia '.' e decimali ','.\n")

[OK] Creato file CSV 'prezzi_legacy.csv' con separatori migliaia '.' e decimali ','.

In [16]:
# ##################################
# 2. WRONG READ (DEFAULT)          #
# ##################################

print("=== LETTURA SBAGLIATA (senza thousands/decimal) ===")

df_bad = pd.read_csv(
    csv_name,
    sep=";"          # we correctly read the column separator
                     # but we do NOT tell pandas how to interpret numbers (thousands and decimals)
)

print("\nDataFrame letto (sbagliato):")
print(df_bad)

print("\nTipi di dato dopo lettura sbagliata:")
print(df_bad.dtypes)

# Test of numerical operations: here 'Quantit√†' e 'PrezzoUnitario' are still strings (object)
print("\nProvo a sommare la colonna Quantit√† (che √® testo):")
try:
    print(df_bad["Quantit√†"].sum())
except Exception as e:
    print("Errore durante la somma:", e)

=== LETTURA SBAGLIATA (senza thousands/decimal) ===

DataFrame letto (sbagliato):
  Prodotto PrezzoUnitario  Quantit√†
0     A123       1.234,50       1.0
1     B777          99,99     250.0
2     C900            NaN       NaN
3     D010       2.000,00       1.5

Tipi di dato dopo lettura sbagliata:
Prodotto           object
PrezzoUnitario     object
Quantit√†          float64
dtype: object

Provo a sommare la colonna Quantit√† (che √® testo):
252.5

**Why is `PrezzoUnitario` `object` in `df_bad.dtypes` (instead of `float`)?**

For three reasons together:<br>

**1. The decimal separator is a comma, not a dot**<br>
*Example*: *1.234,50*<br>
for pandas (with no extra instructions), *1.234,50* is not a valid number, **it‚Äôs a string**.<br>
pandas actually expects *1234.50* (dot for decimals, no thousands separator).<br>
So it leaves it as text (`object`).

**2. There is a thousands separator `.`**<br>
Look at *2.000,00*:<br>
the ideal for pandas would be *2000.00*<br>
instead it finds *2.000,00*, which looks like ‚Äú2 dot 000 comma 00‚Äù.<br>
For the standard parser this is not a valid float ‚Üí it stays a string (`object`).

Same thing for *1.000* in the `Quantit√†` column: pandas doesn‚Äôt know whether it‚Äôs ‚Äúone thousand‚Äù or ‚Äúone point zero zero zero‚Äù.<br>
So it prefers **not** to guess and keeps it as text (`object`).

**3. There are empty cells**<br>
In the column you have values like "" (empty string).<br>
So in the same column you have:

* *1.234,50* (text)
* *99,99* (text)
* "" (empty text)
* *2.000,00* (text)

Heterogeneous column ‚Üí pandas says: ‚Äúok, everything is `object` (strings) and let‚Äôs move on‚Äù.

If all the values were clear, English-style numbers (1234.50, 99.99, 2000.00, etc.) then pandas would have inferred `float64` by itself.

In [ ]:
# ############################################
# 3. RIGHT READ (input parsing)              #
# ############################################

print("\n\n=== LETTURA CORRETTA (thousands='.', decimal=',') ===")

df_good = pd.read_csv(
    csv_name,
    sep=";",
    thousands=".",  # removes thousands separator
    decimal=","     # interprets comma as decimal separator
)

print("\nDataFrame letto (corretto):")
print(df_good)

print("\nTipi di dato dopo lettura corretta:")
print(df_good.dtypes)

print("\nSomma Quantit√† (ora numerica):")
print(df_good["Quantit√†"].sum())

print("\nSomma PrezzoUnitario (notare i NaN dove c'erano celle vuote):")
print(df_good["PrezzoUnitario"].sum())

=== LETTURA CORRETTA (thousands='.', decimal=',') ===

DataFrame letto (corretto):
  Prodotto  PrezzoUnitario  Quantit√†
0     A123         1234.50    1000.0
1     B777           99.99     250.0
2     C900             NaN       NaN
3     D010         2000.00    1500.0

Tipi di dato dopo lettura corretta:
Prodotto           object
PrezzoUnitario    float64
Quantit√†          float64
dtype: object

Somma Quantit√† (ora numerica):
2750.0

Somma PrezzoUnitario (notare i NaN dove c'erano celle vuote):
3334.49

üßæ **5. Header not on the first line** ‚Äì already seen before

<u>Problem</u>: column names are not read correctly.<br>
<u>Cause</u>: the file has descriptive lines or metadata at the beginning.<br>
<u>Solution</u>:
```python
    pd.read_csv("file.csv", header=2)   # if the header is on the third line
```

In [18]:
# creates CSV file
import csv

file_name = "dati_commentati.csv"

with open(file_name, "w", newline="", encoding="utf-8") as f:
    # writes manually two commented lines
    f.write("# Questo file contiene dati di esempio\n")
    f.write("# Formato: ID,Nome,Valore\n")

    writer = csv.writer(f, delimiter=";")

    # Actual header
    writer.writerow(["ID", "Nome", "Valore"])

    # 3 data rows
    writer.writerow([1, "Alpha", 10.5])
    writer.writerow([2, "Beta", 20.0])
    writer.writerow([3, "Gamma", 7.25])

print(f"Creato file {file_name}")

Creato file dati_commentati.csv

In [19]:
# wrong read
pd.read_csv(file_name)

                    # Questo file contiene dati di esempio
# Formato: ID  Nome                                 Valore
ID;Nome;Valore NaN                                     NaN
1;Alpha;10.5   NaN                                     NaN
2;Beta;20.0    NaN                                     NaN
3;Gamma;7.25   NaN                                     NaN

In [20]:
# right read
pd.read_csv(
    file_name,
    sep=";",        # column separator
    header=2)       # header is in third row (Python counts from 0)

   ID   Nome  Valore
0   1  Alpha   10.50
1   2   Beta   20.00
2   3  Gamma    7.25

In [24]:
# smart read

df = pd.read_csv(
    "dati_commentati.csv",
    sep=";",         # field separator
    comment="#"      # ignores all lines beginning with '#'
)

print(df)
print(df.dtypes)

   ID   Nome  Valore
0   1  Alpha   10.50
1   2   Beta   20.00
2   3  Gamma    7.25
ID          int64
Nome       object
Valore    float64
dtype: object

ü™ì **6. File too large**

<u>Problem</u>: `MemoryError` or very slow loading.<br>
<u>Cause</u>: CSV much bigger than available RAM.<br>
<u>Solution</u>:<br>

**Chunk** loading:
```python
    for chunk in pd.read_csv("file.csv", chunksize=100000):
        process(chunk)                                        # 'process' is a user-defined function
```
---

Let‚Äôs see **how *chunks* work** in <u>two parts</u>:

**1. the internal read**:

```python
pd. (..., chunksize=100000)
```

Normally, the function `pd.read_csv("file.csv")` **reads the entire file into RAM** and returns **a single `DataFrame`**.<br>
With `chunksize=100000`, instead, pandas does NOT load everything.<br>
It returns an **`iterator`** (a generator) that yields one `DataFrame` at a time, each with **at most 100,000 rows**.

So:

* first loop ‚Üí rows 0‚Äì99,999
* second loop ‚Üí rows 100,000‚Äì199,999
* third loop ‚Üí etc.

‚Ä¶until the end of the file.

‚ö†Ô∏è This means that **in memory, at any given time, there are only 100k rows**, not millions/billions. This is perfect if **the file is too large to fit in RAM**.

**2. the outer loop**:

```python
    for chunk in ... :
```

`chunk` is a ‚Äúpartial‚Äù pandas `DataFrame`, i.e. a slice of the CSV.<br>
The `for` loops over all slices of the file, one after the other.

üß™ Let‚Äôs look at **a concrete example**, in two steps:

* we define a **function to create the CSV file**, in <u>two variants</u>:

  * the <u>small</u> version of the function (10 rows) ‚Äî useful to inspect by eye
  * the <u>large</u> version of the function (1_000_000 rows) ‚Äî useful for real tests on `chunk`
  * you can choose which version to use by changing only the `n_righe` argument in the call.
* we process it in chunks to **compute the global sum of the `Importo` column**

In [ ]:
# STEP 1: definition of a function that creates a big size CSV to test chunk loading

import csv
import random
import datetime

def crea_csv_grande(
    file_name="transazioni_grandi.csv",      # default
    n_righe=1_000_000,                       # default  (1_000_000: sugar syntax to make the number more readable)
    seed=42                                  # default
):
    """
    Crea un CSV con molte righe, con le colonne:
    ID, DataOperazione, Categoria, Importo

    - ID: intero progressivo
    - DataOperazione: data fittizia
    - Categoria: tipo transazione (es. Vendita / Rimborso / Spesa)
    - Importo: float positivo o negativo
    """

    random.seed(seed)

    categorie = [
        "Vendita",
        "Rimborso",
        "Spesa Marketing",
        "Spesa Fornitore",
        "Abbonamento",
        "Servizio"
    ]

    start_date = datetime.date(2024, 1, 1)

    # Creates the CSV file
    with open(file_name, "w", newline="", encoding="utf-8") as f:
        writer = csv.writer(f, delimiter=",")

        # Header
        writer.writerow(["ID", "DataOperazione", "Categoria", "Importo"])

        for i in range(1, n_righe + 1):
            # data = start_date + offset giorni
            data_operazione = start_date + datetime.timedelta(days=i % 365)

            categoria = random.choice(categorie)

            # Importo (Amount):
            # - positive sales between 10 and 500
            # - negative returns between -200 and -5
            # - negatives expenses between -1000 and -20
            if categoria == "Vendita" or categoria == "Abbonamento" or categoria == "Servizio":
                importo = round(random.uniform(10, 500), 2)
            elif categoria == "Rimborso":
                importo = round(random.uniform(-200, -5), 2)
            else:
                # Spesa Marketing / Spesa Fornitore
                importo = round(random.uniform(-1000, -20), 2)

            writer.writerow([
                i,
                data_operazione.isoformat(),  # tipo 2024-03-15
                categoria,
                importo
            ])

    print(f"Creato file CSV '{file_name}' con {n_righe} righe.")

# Example of use of the function (the MAIN)
# if __name__ == "__main__": tells:
# - "runs this code block just if I'm running it directly within this file, and NOT if I'm importing it from within another file
# 
if __name__ == "__main__":
    # small demo version (to look at it manually)
    crea_csv_grande("transazioni_demo.csv", n_righe=10)

    # large demo version (to test chunksize ecc.)
    # ATTENTION: this code creates ~1 million rows. Change this number as you prefer.
    crea_csv_grande("transazioni_grandi.csv", n_righe=1_000_000)   # 1_000_000: sugar synthax

Creato file CSV 'transazioni_demo.csv' con 10 righe.
Creato file CSV 'transazioni_grandi.csv' con 1000000 righe.

In [26]:
# STEP 2: process in chunks:

totale = 0.0

for chunk in pd.read_csv("transazioni_grandi.csv", chunksize=100_000):   # numeric sugar syntax
    totale += chunk["Importo"].sum()

print("Totale Importo:", totale)

Totale Importo: -59772293.91

The code in the previous cell gives **the global sum of the `Importo` column** without ever loading the whole million rows into RAM at once ‚úÖ

---

**Comment on the NUMERICAL result obtained**<br>

The dataset we created earlier has both inflows and outflows.<br>
In the CSV generator we had this logic:

* Categories like `Vendita`, `Abbonamento`, `Servizio` ‚Üí **positive** amounts (revenues, +10 to +500)
* Categories like `"Rimborso"` ‚Üí **negative** amounts (refunds to the customer, -5 to -200)
* `Spesa Marketing` and `Spesa Fornitore` ‚Üí **large negative** amounts (costs, from -1000 to -20)

So:

* sales bring money in,
* expenses and suppliers pull money out,
* and often costs are, in absolute value, larger than sales.

If in the sample there are many cost rows compared to sales, the final balance drops hard ‚Üí hence the very negative total like `-59,772,293.91`.

In business terms: **we‚Äôre spending more than we‚Äôre earning** üòÖ.

Is that a ‚Äúnormal‚Äù result?<br>
**Yes, it‚Äôs consistent with the random generation**:

* negative amounts can go down to -1000
* positive amounts go only up to +500

So even if half the rows were sales and half expenses, the expense side would still win in absolute value.

---

üßÆ **7. Columns with missing or misaligned values**

<u>Problem</u>: rows with different number of columns, error like `ParserError: Error tokenizing data`.<br>
<u>Cause</u>: unclosed quotes or separators inside fields.<br>
<u>Solution</u>:
```python
    pd.read_csv("file.csv", on_bad_lines="skip", quoting=csv.QUOTE_NONE)
```

Or check the delimiters.

Below is the code in 3 steps (for each of the two errors):
- creation of the csv file
- wrong (intentional) reading
- robust reading

In [ ]:
# -----------------------------------
# 1) CSV con VIRGOLETTE NON CHIUSE  -
# -----------------------------------
content_unclosed = """id,name,amount,notes
1,Mario Rossi,1200,OK
2,Luigi Bianchi,950,pagato
3,Carla Verdi,800,"nota con virgolette non chiuse
4,Paolo Neri,700,ok
"""

file_unclosed = "csv_virgolette_non_chiuse.csv"
with open(file_unclosed, "w", encoding="utf-8", newline="") as f:
    f.write(content_unclosed)

# ----------------------------------------------------
# 2) CSV con SEPARATORI DENTRO I CAMPI (non quotati) -
# ----------------------------------------------------
# header: 4 colonne
content_separators = """id,name,city,amount
1,Mario Rossi,Milano,1200
2,Luigi Bianchi,Roma,900
3,Carla Verdi,Milano, Italia,800
4,Paolo Neri,Torino,700
"""

file_separators = "csv_separatori_dentro_campi.csv"
with open(file_separators, "w", encoding="utf-8", newline="") as f:
    f.write(content_separators)

print("‚úÖ creati i due file CSV di test")

‚úÖ creati i due file CSV di test

In [ ]:
# ==========================
# TEST di LETTURA file 1   =
# ==========================

print("\n=== 1) TEST: virgolette non chiuse ===")
try:
    df1 = pd.read_csv(file_unclosed)
    print(df1)
except Exception as e:
    print("‚ùå errore atteso (virgolette non chiuse):")
    print(e)

=== 1) TEST: virgolette non chiuse ===
‚ùå errore atteso (virgolette non chiuse):
Error tokenizing data. C error: EOF inside string starting at row 3

In [ ]:
# ===============================
# lettura 'robusta' del file 1  =
# ===============================
df1_ok = pd.read_csv(
    file_unclosed,
    on_bad_lines="skip",
    quoting=csv.QUOTE_NONE,
    engine="python",
)
print("\n‚úÖ lettura robusta (file 1):")
print(df1_ok)

‚úÖ lettura robusta (file 1):
   id           name  amount                            notes
0   1    Mario Rossi    1200                               OK
1   2  Luigi Bianchi     950                           pagato
2   3    Carla Verdi     800  "nota con virgolette non chiuse
3   4     Paolo Neri     700                               ok

`quoting = csv.QUOTE_NONE`:<br>
this tells it: ‚Äúdo not treat quotes (") as something special, consider them normal text‚Äù.

Why did we also put `engine="python"`?<br>
...
**Practical rule:**<br>
1 format ‚Üí `parse_dates`<br>
few formats ‚Üí `to_datetime`<br>
mixed/dirty formats ‚Üí **custom function** ‚úÖ

In [ ]:
# ==========================
# TEST di LETTURA file 2   =
# ==========================

print("\n=== 2) TEST: separatori dentro i campi ===")
try:
    df2 = pd.read_csv(file_separators)
    print(df2)
except Exception as e:
    print("‚ùå errore atteso (troppi separatori):")
    print(e)

=== 2) TEST: separatori dentro i campi ===
‚ùå errore atteso (troppi separatori):
Error tokenizing data. C error: Expected 4 fields in line 4, saw 5

In [ ]:
# ===============================
# lettura 'robusta' del file 2  =
# ===============================

df2_ok = pd.read_csv(
    file_separators,
    on_bad_lines="skip",
    quoting=csv.QUOTE_NONE,
    engine="python",
)
print("\n‚úÖ lettura robusta (file 2):")
print(df2_ok)

‚úÖ lettura robusta (file 2):
   id           name    city  amount
0   1    Mario Rossi  Milano    1200
1   2  Luigi Bianchi    Roma     900
2   4     Paolo Neri  Torino     700

üß† **8. Date non interpretate correttamente**

<u>Problema</u>: le date restano stringhe o sono nel formato errato.<br>
<u>Soluzione</u>:
```python
pd.read_csv("file.csv", parse_dates=["data"])
```

oppure
```python
df["data"] = pd.to_datetime(df["data"], dayfirst=True)
```

Creiamo un CSV con deliberatamente dentro date mischiate (italiane, americane, con testo, con ore) cos√¨ `read_csv` non le riconosce e le lascia come `object`.

In [ ]:
# 1. Creazione CSV con date "brutte"
# CSV "cattivo": formati data diversi ‚Üí pandas non riesce a unificarli

from datetime import datetime

csv_text = """data;descrizione;importo
01/02/2025;Fattura cliente A;120.50
2025-02-01;Fattura cliente B;85.00
12/31/2024;Formato USA;15.75
31/12/2024;Chiusura anno;999.99
2025/02/01 14:30;Con orario;50.00
;Data mancante;0.00
non-data;Valore sporco;5.25
"""

with open("date_mischiate.csv", "w", encoding="utf-8", newline="") as f:
    f.write(csv_text)

print("‚úÖ creato date_mischiate.csv\n")

‚úÖ creato date_mischiate.csv

E' un file CSV con date miste.

Ora facciamo la lettura ‚Äúingenua‚Äù (pandas non capisce le date e le lascia `object`):

In [ ]:
# 2. Lettura "sbagliata" / ingenua
df_raw = pd.read_csv("date_mischiate.csv", sep=";")
print("üî¥ LETTURA INGENUA")
print(df_raw.dtypes)
print(df_raw, "\n")

üî¥ LETTURA INGENUA
data            object
descrizione     object
importo        float64
dtype: object
               data        descrizione  importo
0        01/02/2025  Fattura cliente A   120.50
1        2025-02-01  Fattura cliente B    85.00
2        12/31/2024        Formato USA    15.75
3        31/12/2024      Chiusura anno   999.99
4  2025/02/01 14:30         Con orario    50.00
5               NaN      Data mancante     0.00
6          non-data      Valore sporco     5.25

`data` √® `object` ‚Üí cio√® stringa.<br>
Adesso le due soluzioni:

Soluzione 1 ‚Äì direttamente in `read_csv`

In [ ]:
# =========================================
# 3) LETTURA con parse_dates
# ‚Üí con queste date miste, pandas si arrende
# ‚Üí data RESTA object
# =========================================
df_auto = pd.read_csv(
    "date_mischiate.csv",
    sep=";",
    parse_dates=["data"],
    dayfirst=True
)
print("üü† LETTURA CON parse_dates (pandas non ce la fa)")
print(df_auto.dtypes)
print(df_auto, "\n")
# üëâ data = object
# perch√© nel file ci sono: dd/mm/yyyy, ISO, mm/dd/yyyy, con orario, vuote, testo...

üü† LETTURA CON parse_dates (pandas non ce la fa)
data            object
descrizione     object
importo        float64
dtype: object
               data        descrizione  importo
0        01/02/2025  Fattura cliente A   120.50
1        2025-02-01  Fattura cliente B    85.00
2        12/31/2024        Formato USA    15.75
3        31/12/2024      Chiusura anno   999.99
4  2025/02/01 14:30         Con orario    50.00
5               NaN      Data mancante     0.00
6          non-data      Valore sporco     5.25

In [ ]:
# =========================================
# 4) LETTURA ROBUSTA (quella che DEVE riuscire)
# ‚Üí leggiamo come stringa
# ‚Üí convertiamo noi una per una
# =========================================

# definizione di una funzione di parsing "flessibile"
def parse_flessibile(x: str):
    if pd.isna(x) or x == "":
        return pd.NaT
    # proviamo pi√π formati noti
    for fmt in ("%d/%m/%Y", "%Y-%m-%d", "%m/%d/%Y", "%Y/%m/%d %H:%M", "%d/%m/%Y %H:%M"):
        try:
            return datetime.strptime(x, fmt)
        except ValueError:
            continue
    return pd.NaT   # quello che proprio non √® data

# la apply sulla colonna "data"
df_ok = pd.read_csv("date_mischiate.csv", sep=";")
df_ok["data"] = df_ok["data"].apply(parse_flessibile)

print("üü¢ LETTURA ROBUSTA (dopo apply)")
print(df_ok.dtypes)
print(df_ok)

üü¢ LETTURA ROBUSTA (dopo apply)
data           datetime64[ns]
descrizione            object
importo               float64
dtype: object
                 data        descrizione  importo
0 2025-02-01 00:00:00  Fattura cliente A   120.50
1 2025-02-01 00:00:00  Fattura cliente B    85.00
2 2024-12-31 00:00:00        Formato USA    15.75
3 2024-12-31 00:00:00      Chiusura anno   999.99
4 2025-02-01 14:30:00         Con orario    50.00
5                 NaT      Data mancante     0.00
6                 NaT      Valore sporco     5.25

Vediamo **riga per riga** cosa fa il codice della cella precedente:

1. `def parse_flessibile(x: str):`<br>
definisce una funzione che riceve **una sola cella** (una stringa) e restituisce una **data** oppure `NaT`.

2. `if pd.isna(x) or x == "":`<br>
se la cella √® vuota (`""`) oppure √® un NA (`NaN` letto da pandas) ‚Üí non prova nemmeno ‚Üí **restituisce** `pd.NaT`.<br>
(`pd.NaT` = Not A Time, l‚Äôequivalente di `NaN` ma per le date.)

3. `for fmt in (...):`<br>
qui c‚Äô√® la lista dei **formati che vuole provare**, in ordine:
    - `"%d/%m/%Y"` ‚Üí 31/12/2024 (italiano)
    - `"%Y-%m-%d"` ‚Üí 2025-02-01 (ISO)
    - `"%m/%d/%Y"` ‚Üí 12/31/2024 (americano)
    - `"%Y/%m/%d %H:%M"` ‚Üí 2025/02/01 14:30
    - `"%d/%m/%Y %H:%M"` ‚Üí 31/12/2024 09:15

    L‚Äôidea √®: ‚Äúnon sa il formato ‚Üí li prova tutti‚Äù.

4. `try: return datetime.strptime(x, fmt)`<br>
prova a convertire *quella singola stringa* col formato corrente.
- se **funziona** ‚Üí esce subito dalla funzione (`return`) ed abbiamo la `datetime`
- se **non funziona** ‚Üí scatta il `ValueError` ‚Üí va nell‚Äô`except`

5. `except ValueError: continue`<br>
cio√®: ‚Äúok, con questo formato non andava ‚Üí prova il prossimo‚Äù.

6. `return pd.NaT` (**alla fine**)<br>
se provati **tutti** i formati e nessuno ha funzionato ‚Üí quella riga non √® una data ‚Üí la si marca come vuota (`NaT`).

---

**Perch√© c‚Äô√® l‚Äôapply**??
```python
df_ok = pd.read_csv("date_mischiate.csv", sep=";")
df_ok["data"] = df_ok["data"].apply(parse_flessibile)
```

- `read_csv(...)` legge tutta la colonna come stringhe (perch√© erano tutte diverse).
- `df_ok["data"].apply(parse_flessibile)` vuol dire:<br>
    ‚Äúper **ogni riga** della colonna `data` esegue `parse_flessibile(...)`‚Äù.
- il risultato √® **una nuova Series di tipo `datetime`** (con dentro anche dei `NaT`).
- la riassegna a `df_ok["data"]` ‚Üí la colonna diventa davvero `datetime64[ns]`.

√à il trucco classico: **quando `parse_dates` non basta** ‚Üí si fa la `apply`.

---

**Perch√© non abbiamo usato solo `pd.to_datetime(...)`?**

Potevamo fare:
```python
df_ok["data"] = pd.to_datetime(df_ok["data"], dayfirst=True, errors="coerce")
```

e in molti casi va bene.<br>
Qui per√≤ avevamo formati sia italiani sia americani, sia con orario che no. `to_datetime` da solo a volte indovina, a volte no.<br>
Con questa funzione di parsing, invece, decidiamo noi l‚Äôordine dei formati.<br>
Esempio: prima prova italiano, poi americano ‚Üí cos√¨ non sbaglia 03/04/2025.

---

**Cosa succede alle righe ‚Äúsporche‚Äù?**
- `""` ‚Üí `NaT`
- `"non-data"` ‚Üí nessun formato lo capisce ‚Üí `NaT`
- `"2025/02/01 14:30"` ‚Üí lo becca al 4¬∞ formato ‚Üí diventa una vera `datetime`
- `"12/31/2024"` ‚Üí lo becca al 3¬∞ formato ‚Üí ok
- `"31/12/2024"` ‚Üí lo becca al 1¬∞ formato ‚Üí ok

---

```python
print(df_ok.dtypes)
```

data           datetime64[ns]<br>
descrizione            object<br>
importo               float64<br>
dtype: object<br>

E' questo il risultato che volevamo fin dall‚Äôinizio: la colonna non √® pi√π `object`, √® una colonna di date üí™

---

**RIASSUNTO FINALE del punto 8**

Se le date sono **tutte nello stesso formato** ‚Üí<br>
`pd.read_csv(..., parse_dates=["data"])` va benissimo.

Se le date hanno **formati diversi ma ‚Äúsimili‚Äù** (tutte europee, o tutte ISO) ‚Üí<br>
si pu√≤ leggere normalmente e poi fare:
    ```python
    df["data"] = pd.to_datetime(df["data"], dayfirst=True, errors="coerce")
    ```

spesso basta.

Se le date sono proprio **eterogenee** (eu, usa, con ora, vuote, testo) ‚Üí<br>
`parse_dates` da solo non basta, e a volte nemmeno `to_datetime(...)` indovinato;<br>
allora conviene una **funzione di parsing flessibile** che provi pi√π formati.

**Regola pratica:**<br>
1 formato ‚Üí `parse_dates`<br>
pochi formati ‚Üí `to_datetime`<br>
formati misti/sporchi ‚Üí **funzione custom** ‚úÖ

‚¨ú **9. Duplicates or whitespace in column names**

<u>Problem</u>: names with spaces or duplicates (`'Name '` ‚â† `'Name'`).<br>
<u>Solution</u>:
```python
df.columns = df.columns.str.strip()
```

In [ ]:
# 1) creo un CSV con nomi colonna con spazi
csv_text = """  data  ;  nome cliente ; importo ;  note
01/02/2025;Mario Rossi;120.50;pagato
02/02/2025;  Anna Bianchi ;89.00;ritardo
03/02/2025;ACME S.p.A.;250.00;
"""

file_name = "con_spazi.csv"
with open(file_name, "w", encoding="utf-8", newline="") as f:
    f.write(csv_text)

print(f"‚úÖ creato {file_name}")

‚úÖ creato con_spazi.csv

In [ ]:
# 2) lettura "normale" ‚Üí i nomi sono sporchi
df = pd.read_csv(file_name, sep=";")
print("üîé colonne lette (sporche):")
print(repr(df.columns.tolist()))

üîé colonne lette (sporche):
['  data  ', '  nome cliente ', ' importo ', '  note ']

In [ ]:
# 3) pulizia nomi colonna
df.columns = df.columns.str.strip()

print("\n‚úÖ colonne dopo strip():")
print(repr(df.columns.tolist()))

print("\nüìÑ dataframe finale:")
print(df)

‚úÖ colonne dopo strip():
['data', 'nome cliente', 'importo', 'note']

üìÑ dataframe finale:
         data     nome cliente  importo     note
0  01/02/2025      Mario Rossi    120.5   pagato
1  02/02/2025    Anna Bianchi      89.0  ritardo
2  03/02/2025      ACME S.p.A.    250.0      NaN

**What happened?**
- before `strip()` the columns were like:<br>
[*'  date  ', '  customer name ', ' amount ', '  notes ']*<br>
- after:<br>
*['date', 'customer name', 'amount', 'notes']*<br>

So if you want to do:
```python
df["date"]
```
now it works, while before you would have had to write `df[" date "]` and it‚Äôs not nice üòÖ

üß± **10. Quotes and special characters**

<u>Problem</u>: CSV with inner quotes, double quotes, etc.
<u>Solution</u>:
```python
pd.read_csv("file.csv", quotechar='"', escapechar='\\')
```

Let‚Äôs see the usual flow (as for the previous errors), in this case with 4 steps:
- we create a CSV **deliberately dirty, but not enough ‚Üí it still manages to read it** (with quotes inside, doubled quotes, backslash‚Ä¶)
- we try the **naive reading** ‚Üí it breaks / errors / splits columns
- we do the **robust reading** ‚Üí `quotechar='"'`, `escapechar='\\'`, and if we want also `engine="python"` to be safe.
...

In [ ]:
from pathlib import Path

# =========================================================
# CASO A - CSV "sporco ma leggibile"
# ---------------------------------------------------------
# Qui vogliamo mostrare che: anche se ci sono virgolette interne
# e backslash, la lettura ingenua *potrebbe* funzionare comunque.
# =========================================================

file_ok = "csv_sporco_ok.csv"

csv_ok = (
    # riga 1
    'id,descrizione,note\n'
    # riga 2
    '1,"Martello, 500g","tutto ok"\n'
    # riga 3 - qui c'√® il backslash + virgolette: \"piatto\"
    '2,"Cacciavite \\"piatto\\"","virgolette con backslash (\\")"\n'
    # riga 4 - virgolette raddoppiate stile CSV
    '3,"Set ""professionale"" 24 pz","virgolette raddoppiate nel campo descrizione"\n'
    # riga 5 - percorso Windows
    '4,"C:\\\\attrezzi\\\\nuovo","percorso Windows con backslash"\n'
)

Path(file_ok).write_text(csv_ok, encoding="utf-8")
print(f"‚úÖ Scritto {file_ok}")
print(csv_ok)

print("\n=== CASO A - LETTURA INGENUA (funziona) ===")
# üëâ QUI *NON* mettiamo n√© quotechar n√© escapechar
df_ok_naive = pd.read_csv(file_ok)
print(df_ok_naive)

‚úÖ Scritto csv_sporco_ok.csv
id,descrizione,note
1,"Martello, 500g","tutto ok"
2,"Cacciavite \"piatto\"","virgolette con backslash (\")"
3,"Set ""professionale"" 24 pz","virgolette raddoppiate nel campo descrizione"
4,"C:\\attrezzi\\nuovo","percorso Windows con backslash"


=== CASO A - LETTURA INGENUA (funziona) ===
   id                descrizione                                          note
0   1             Martello, 500g                                      tutto ok
1   2      Cacciavite \piatto\""                 virgolette con backslash (\)"
2   3  Set "professionale" 24 pz  virgolette raddoppiate nel campo descrizione
3   4        C:\\attrezzi\\nuovo                percorso Windows con backslash

We don‚Äôt want the warning anymore ‚úÖ

In [ ]:
print("\n=== CASO A - LETTURA ROBUSTA ===")
df_ok_safe = pd.read_csv(
    file_ok,
    quotechar='"',
    escapechar='\\',
    engine="python",
)
print(df_ok_safe)

=== CASO A - LETTURA ROBUSTA ===
   id                descrizione                                          note
0   1             Martello, 500g                                      tutto ok
1   2        Cacciavite "piatto"                  virgolette con backslash (")
2   3  Set "professionale" 24 pz  virgolette raddoppiate nel campo descrizione
3   4          C:\attrezzi\nuovo                percorso Windows con backslash

We build the **correct** csv with the previous fixes.

In [ ]:
# =========================================================
# CASO B - CSV ROTTO APPOSTA (virgolette non bilanciate)
# ---------------------------------------------------------
# Qui vogliamo mostrare il caso nel quale la lettura
# ingenua NON funziona.
# L'idea √® mettere una riga con: "Pinza con "virgolette" dentro"
# ma SENZA escape e con una virgola dentro ‚Üí il parser C salta.
# =========================================================

file_bad = "csv_sporco_rotto.csv"

csv_bad = (
    'id,descrizione,prezzo\n'                    # riga 1 (header)
    '1,"Martello",12.5\n'                        # riga 2 ok
    '2,"Cacciavite \\"piatto\\"",8.9\n'          # riga 3 ok (ha \")
    '3,"Set ""professionale"" 24 pz",49.0\n'     # riga 4 ok (ha "")
    # riga 5 - QUESTA ROMPE:
    # - campo quotato che contiene altre virgolette NON escape
    # - e contiene anche una virgola ‚Üí il parser pensa che inizi/finisca un altro campo
    '4,"Pinza con "virgolette" dentro, con virgola",15.0\n'
)

Path(file_bad).write_text(csv_bad, encoding="utf-8")
print(f"\n‚úÖ Scritto {file_bad}")
print(csv_bad)


print("\n=== CASO B - LETTURA INGENUA (DEVE FALLIRE) ===")
try:
    df_bad_naive = pd.read_csv(file_bad)
    print(df_bad_naive)
except Exception as e:
    # qui ti aspetti qualcosa tipo:
    # ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 4
    print("‚ùå Lettura ingenua fallita:", e)

‚úÖ Scritto csv_sporco_rotto.csv
id,descrizione,prezzo
1,"Martello",12.5
2,"Cacciavite \"piatto\"",8.9
3,"Set ""professionale"" 24 pz",49.0
4,"Pinza con "virgolette" dentro, con virgola",15.0


=== CASO B - LETTURA INGENUA (DEVE FALLIRE) ===
‚ùå Lettura ingenua fallita: Error tokenizing data. C error: Expected 3 fields in line 5, saw 4

Now let‚Äôs read it.

In [ ]:
print("\n=== CASO B - LETTURA ROBUSTA  ===")
df_bad_safe = pd.read_csv(
    file_bad,
    quotechar='"',
    escapechar='\\',
    engine="python",
    on_bad_lines="warn",   # oppure "skip" per saltare via le righe rotte
)
print(df_bad_safe)

=== CASO B - LETTURA ROBUSTA  ===
   id                descrizione  prezzo
0   1                   Martello    12.5
1   2        Cacciavite "piatto"     8.9
2   3  Set "professionale" 24 pz    49.0

C:\Users\Utente\AppData\Local\Temp\ipykernel_17000\3188488824.py:2: ParserWarning: Skipping line 5: ',' expected after '"'

  df_bad_safe = pd.read_csv(

As can be seen: no more warning ‚úÖ

<u>First way</u>: **standard CSV** style ‚Üí **we double the quotes**:

In [ ]:
import pandas as pd
from pathlib import Path

file_good = "csv_sporco_riparato_doppie.csv"

csv_good = (
    'id,descrizione,prezzo\n'
    '1,"Martello",12.5\n'
    '2,"Cacciavite \\"piatto\\"",8.9\n'
    '3,"Set ""professionale"" 24 pz",49.0\n'
    # üëá qui √® corretto: le virgolette interne sono raddoppiate
    '4,"Pinza con ""virgolette"" dentro, con virgola",15.0\n'
)

Path(file_good).write_text(csv_good, encoding="utf-8")

print("\n=== LETTURA ROBUSTA (CSV VALIDO, virgolette raddoppiate) ===")
df_ok = pd.read_csv(
    file_good,
    quotechar='"',
    escapechar='\\',
    engine="python",
)
print(df_ok)

=== LETTURA ROBUSTA (CSV VALIDO, virgolette raddoppiate) ===
   id                                 descrizione  prezzo
0   1                                    Martello    12.5
1   2                         Cacciavite "piatto"     8.9
2   3                   Set "professionale" 24 pz    49.0
3   4  Pinza con "virgolette" dentro, con virgola    15.0

There is no longer any warning! Why?<br> Because:
- the field is quoted `"..."`,
- inside there are quotes ‚Üí we rewrote them as `""`,
- inside there is also the comma ‚Üí but since the field is quoted, the comma is ok.

<u>Second way</u>: **‚Äú`escapechar`‚Äù** style ‚Üí we use the backslash `\` before the inner quotes (if we really want to show the use of `escapechar='\\'`):

In [ ]:
from pathlib import Path

file_good2 = "csv_sporco_riparato_escape.csv"

csv_good2 = (
    'id,descrizione,prezzo\n'
    '1,"Martello",12.5\n'
    '2,"Cacciavite \\"piatto\\"",8.9\n'
    '3,"Set ""professionale"" 24 pz",49.0\n'
    # üëá qui ESCAPE TUTTE le virgolette interne
    '4,"Pinza con \\"virgolette\\" dentro, con virgola",15.0\n'
)

Path(file_good2).write_text(csv_good2, encoding="utf-8")

print("\n=== LETTURA ROBUSTA (CSV VALIDO, escape con backslash) ===")
df_ok2 = pd.read_csv(
    file_good2,
    quotechar='"',
    escapechar='\\',   # üëà adesso serve davvero
    engine="python",
)
print(df_ok2)

=== LETTURA ROBUSTA (CSV VALIDO, escape con backslash) ===
   id                                 descrizione  prezzo
0   1                                    Martello    12.5
1   2                         Cacciavite "piatto"     8.9
2   3                   Set "professionale" 24 pz    49.0
3   4  Pinza con "virgolette" dentro, con virgola    15.0

As can be seen again: no warning ‚úÖ

**SUMMARY of point 10**:
- ‚Äúnaive reading‚Äù: `pd.read_csv("file.csv")` ‚Üí if the CSV is well‚Äëformed, it works; if it is slightly dirty, sometimes it reads; if it is really broken, it raises `ParserError`.
- ‚Äúrobust reading‚Äù: `pd.read_csv("file.csv", quotechar='"', escapechar='\\', engine="python")` ‚Üí it tries to read even when quotes are bad, but **warns** that **there were problems** ‚Üí and therefore gives the **warning** seen before.
- if we do NOT want the warning ‚Üí the two reading modes seen above, plus **writing the CSV in a valid way** (double `""` or escape `\").

**SUMMARY of the 10 cases**

![](problemi_tipici_read_csv.png)

**Now follows a second set of examples** with **data correction**:<br>
1Ô∏è‚É£ creation of a **‚Äúdirty‚Äù** CSV file with various **real errors and inconsistencies**;<br>
2Ô∏è‚É£ the full Python code to read it correctly with `pandas.read_csv()`;<br>
3Ô∏è‚É£ **<u>the Python code to clean the dataframe</u>** ‚ùó

1Ô∏è‚É£ The file `dati_sporchi.csv`<br>
üëâ It contains:
- delimiter `;` instead of `,`
- mixed encoding (accents and special characters)
- confused decimal separators (`,`, `.`)
- missing values or `N/A`
- a row with inner quotes and a comma in the name
...
```python
df = pd.read_csv("file.csv", dtype=dtypes, usecols=cols)
```
Compare various versions and choose the fastest in your context.

In [ ]:
# =========================
# 1. CREA IL FILE CSV "SPORCO"
# =========================

csv_content = """# Dati di esempio esportati da sistema legacy
# Contengono errori di formato, encoding e separatori
ID; Nome ; Et√† ; Data_nascita ; Stipendio ; Note
0; "Mario Rossi"; 35 ; 12/05/1989 ; "2.500,50" ; "Lavora a Roma, ottimo rendimento"
1; "Anna Bianchi"; 29 ; 01/09/1995 ; "3.200,00" ; "Milano, nuovi progetti"
2; "Jos√© √Ålvarez"; 40 ; 15/02/1984 ; "4.000,75" ; "Problemi di encoding √†√®√¨√≤√π"
3; "Luigi Verdi"; "?" ; 03/11/1990 ; "2,800.00" ; "Errore nei separatori decimali"
4; "Giulia Rossi" ; 27 ; 31-08-1997 ; "3.000,00" ; "Riga OK"
5; "Paolo Bianchi" ; 33 ; 02/04/1991 ; "N/A" ; "Valore mancante stipendio"
6; "Marco, Test"; 38 ; 07/07/1986 ; "2.900,00" ; "Virgola nel nome"
7 "Sara Neri" ; 31 ; 10/10/1993 ; "3.200,00" ; Riga con separatore mancante
8; "Laura Verdi"; 25 ; 21/06/1999 ; "3.000,00"
9; "Andrea Neri" ; ; ; ; "Campi mancanti"
Unnamed: 0; "Extra colonna inutile"; ; ; ;
"""

with open("dati_sporchi.csv", "w", encoding="latin1") as f:
    f.write(csv_content)

print("‚úÖ File 'dati_sporchi.csv' creato.\n")

‚úÖ File 'dati_sporchi.csv' creato.

‚Äî

In [ ]:
# =========================
# 2. LETTURA ROBUSTA
# =========================
df = pd.read_csv(
    "dati_sporchi.csv",
    sep=";",                     # separatore europeo
    comment="# ",                 # ignora righe di commento
    engine="python",             # parser pi√π flessibile
    encoding="latin1",           # gestisce accenti
    on_bad_lines="skip",         # salta righe errate
    skip_blank_lines=True,       # ignora righe vuote
    skipinitialspace=True        # rimuove spazi dopo ;
)

print("Colonne originali:", df.columns.tolist(), "\n")

Colonne originali: ['ID', 'Nome ', 'Et√† ', 'Data_nascita ', 'Stipendio ', 'Note']

In [ ]:
df.head()

           ID                  Nome   Et√†  Data_nascita  Stipendio   Note
0           8            Laura Verdi  25.0   21/06/1999    3.000,00   NaN
1  Unnamed: 0  Extra colonna inutile   NaN           NaN        NaN   NaN

‚Äî

In [ ]:
# =========================
# 3.1 PULIZIA NOMI COLONNE
# =========================
df.columns = df.columns.str.strip()                          # rimuove spazi
df.columns = df.columns.str.replace("√É", "√†", regex=False)   # corregge accenti errati
df = df.loc[:, ~df.columns.str.contains("^Unnamed", case=False)]  # rimuove colonne Unnamed

In [ ]:
df.head()

           ID                   Nome   Et√† Data_nascita Stipendio  Note
0           8            Laura Verdi  25.0  21/06/1999   3.000,00   NaN
1  Unnamed: 0  Extra colonna inutile   NaN          NaN       NaN   NaN

In [ ]:
# =========================
# 3.2 TRASFORMAZIONI TIPICHE
# =========================

# -- Colonna Et√†
if "Et√†" in df.columns:
    df["Et√†"] = pd.to_numeric(df["Et√†"], errors="coerce")

# -- Colonna Stipendio
if "Stipendio" in df.columns:
    df["Stipendio"] = (
        df["Stipendio"]
        .astype(str)
        .str.replace(".", "", regex=False)  # rimuove i punti (migliaia)
        .str.replace(",", ".", regex=False) # converte virgola in punto
    )
    df["Stipendio"] = pd.to_numeric(df["Stipendio"], errors="coerce")

# -- Colonna Data_nascita
if "Data_nascita" in df.columns:
    df["Data_nascita"] = pd.to_datetime(df["Data_nascita"], dayfirst=True, errors="coerce")

In [ ]:
df.head()

           ID                   Nome   Et√† Data_nascita  Stipendio  Note
0           8            Laura Verdi  25.0   1999-06-21     3000.0   NaN
1  Unnamed: 0  Extra colonna inutile   NaN          NaT        NaN   NaN

In [ ]:
# =========================
# 3.3 RISULTATO FINALE
# =========================
print("‚úÖ File caricato e pulito correttamente!\n")
display(df)
print("\nTipi di dato:\n", df.dtypes)

‚úÖ File caricato e pulito correttamente!

           ID                   Nome   Et√† Data_nascita  Stipendio  Note
0           8            Laura Verdi  25.0   1999-06-21     3000.0   NaN
1  Unnamed: 0  Extra colonna inutile   NaN          NaT        NaN   NaN

Tipi di dato:
 ID                      object
Nome                    object
Et√†                    float64
Data_nascita    datetime64[ns]
Stipendio              float64
Note                   float64
dtype: object

‚Äî

‚Äî

# Application to the financial file `FinancialIndicators`
The file *Credit_ISLR* is very small. Let‚Äôs use the more substantial csv file *FinancialIndicators.csv*:
- about 7000 rows
- 73 columns
- about 2.4 GB
- separator = ',' (American file)

In [ ]:
import time
start_time = time.time()

df_FI = pd.read_csv('FinancialIndicators.csv')

end_time = time.time()

print ('Tempo totale di esecuzione: ', end_time - start_time)

df_FI.head()

Tempo totale di esecuzione:  0.04415559768676758

,Company Name,Industry Name,SIC,Exchange,Country,Stock Price,% Chg in last year,Trading Volume,# of shares outstanding,Market Cap,...,Trailing Net Income,Dividends,Intangible Assets/Total Assets,Fixed Assets/Total Assets,Market D/E,Market Debt to Capital,Book Debt to Capital,Dividend Yield,Insider Holdings,Institutional Holdings
0,@Road Inc,Telecom. Services,4810,NDQ,US,5.23,-0.02,236397,54.8,319.60,...,27.0,0.0,0.00,0.02,0.00,0.00,0.00,0.0,NaN,0.23
1,1-800 Contacts Inc,Medical Supplies,8060,NDQ,US,11.70,0.03,57921,13.3,151.90,...,3.3,0.0,0.48,0.19,0.16,0.14,0.29,0.0,NaN,0.39
2,1-800-ATTORNEY Inc,Publishing,2700,NDQ,US,1.01,0.00,1438,0.0,0.00,...,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00
3,1-800-FLOWERS.COM,Internet,7370,NDQ,US,6.42,-0.01,197850,65.2,422.90,...,7.8,0.0,0.31,0.20,0.01,0.01,0.03,0.0,0.21,0.88
4,1mage Software Inc,Computer Software/Svcs,3579,NDQ,US,0.01,0.00,10200,3.3,0.03,...,-0.8,0.0,0.00,0.00,12.12,0.92,NaN,0.0,NaN,0.00

We apply the above parameters to the loading of this file:

# Performance

As for the **performance of the various formats** (both storage on disk and opening/reading) see the following useful study.

The key message of the study is that:
- the CSV format is much better than Excel (not even taken into consideration), is available in all *data‚Äëmanagement* environments
- for big data (as we will see) the best format is parquet, especially in memory usage.

In [ ]:
# Esempio d‚Äôuso:
show_pdf("I_O Optimization in Data Projects - by Avi Chawla.pdf")

# The data format for big data

Is it possible to load big data of 5M rows in *pandas*? It depends.

The short answer is: yes, pandas can handle even 5 million rows, **but** it depends on what you mean by ‚Äúhandle‚Äù and on how much RAM you have.

In [ ]:
import pandas as pd
import glob
import os

In [ ]:
# Il prefisso r dice a Python di non interpretare \ come escape.
path = r'C:\Users\Utente\Desktop\salvataggi\SALVATAGGIO DATI\Documents\Seminari\Data Science (corsi)\Corso Python base\linkage\file_csv'

all_files = glob.glob(os.path.join(path, "*.csv"))

In [ ]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
frame.shape

(5749132, 12)

In [ ]:
frame.head()

,id_1,id_2,cmp_fname_c1,cmp_fname_c2,cmp_lname_c1,cmp_lname_c2,cmp_sex,cmp_bd,cmp_bm,cmp_by,cmp_plz,is_match
0,37291,53113,0.833333333333333,?,1.0,?,1,1,1,1,0,True
1,39086,47614,1,?,1.0,?,1,1,1,1,1,True
2,70031,70237,1,?,1.0,?,1,1,1,1,1,True
3,84795,97439,1,?,1.0,?,1,1,1,1,1,True
4,36950,42116,1,?,1.0,1,1,1,1,1,1,True

In [ ]:
frame.tail()

,id_1,id_2,cmp_fname_c1,cmp_fname_c2,cmp_lname_c1,cmp_lname_c2,cmp_sex,cmp_bd,cmp_bm,cmp_by,cmp_plz,is_match
5749127,47892,98941,1,?,0.166667,?,1,0,0,1,0,False
5749128,53346,74894,1,?,0.222222,?,1,0,0,1,0,False
5749129,18058,99971,0,?,1.000000,?,1,0,0,0,0,False
5749130,84934,95688,1,?,0.000000,?,1,0,1,0,0,False
5749131,20985,57829,1,1,0.000000,?,1,0,1,1,0,False

Activation of the execution environment.
The notebook works **indifferently** both on Jupyter Notebook/Lab and on Google Colab, as said, <u>apart from two aspects</u>:
- loading datasets into the notebook
- including *png* images in individual cells

It is therefore useful to **determine the execution environment**, setting the binary variable `IN_COLAB` to `True` if we are in Google Colab, to `False` if we are in Jupyter Notebook).

Those two operations will be executed differently depending on the value of the binary variable.

üß† **2. Operazioni che pandas gestisce bene anche con 5M di righe**

Con hardware "decente" (CPU moderna, 16 GB RAM) pandas gestisce tranquillamente:

‚úÖ **Caricamento CSV**
```python
df = pd.read_csv("dati.csv")
```

Si pu√≤ anche usare:
- `dtype=` per tipizzare meglio le colonne (meno RAM);
- `usecols=` per leggere solo alcune colonne;
- `chunksize=` per leggere a blocchi.

‚úÖ **Operazioni elementari e aggregazioni**
- `df.describe()`, `df.mean()`, `df.groupby("col").agg(...)`
- `df.sort_values("col")`
- `df.query("x > 10 and y < 5")`
- `df.sample(100_000)`<br>
tutte fattibili.

‚úÖ **Join e merge moderati**<br>
Fino a qualche milione di righe per tabella:
```python
pd.merge(df1, df2, on="id", how="inner")
```
funziona, ma attenzione ai picchi di memoria.

---
üö´ **Operazioni che iniziano a diventare problematiche**

Quando il dataset supera **i 5‚Äì10 milioni di righe o supera i 5 GB in RAM**, ecco cosa rallenta o esplode:

‚ùå **ordinamenti multipli o sort complessi**
```pythoon
df.sort_values(["col1", "col2"])
```
Crea una copia in memoria grande quanto il DataFrame stesso.

‚ùå **merge / join molto grandi**<br>
se le due tabelle insieme superano la RAM disponibile.

‚ùå **apply / lambda riga per riga**
```python
df.apply(lambda row: f(row.x), axis=1)
```

Molto lente: infatti sono eseguite in Python puro, non in C.<br>
Meglio usare funzioni **vectorized** (`np.where`, `pd.Series.map`, ecc.).

‚ùå **operazioni iterative**<br>
Cicli `for row in df.itertuples()` su milioni di righe ‚Üí un disastro!

‚ùå **Scrittura su CSV/parquet**
```python
df.to_csv("file.csv")
```

Poco efficiente.

---
‚ö° **Alternative e strategie**

**1. Usare il *chunking***

Il seguente codice √® **rischioso**
```python
import pandas as pd

df = pd.read_csv("dati.csv")
df["media"] = df["valore"].mean()

```

Meglio leggere a blocchi e processare iterativamente:
```python
import pandas as pd

chunksize = 500.000   # legge 500 mila righe per volta
risultati = []        # lista dove accumulare i risultati

for chunk in pd.read_csv("dati.csv", chunksize=chunksize):
    media_chunk = chunk["valore"].mean()       # calcolo sulla parte letta
    risultati.append(media_chunk)              # salvo il risultato parziale

# dopo il ciclo puoi combinare i risultati
media_totale = sum(risultati) / len(risultati)
print("Media complessiva:", media_totale)

```


**2. Usare il formato dati *parquet***<br>
Vedi il prossimo capitolo.

**3. Usare `cuDF`**<br>
Utilizza la GPU senza modifiche al codice Pandas

**4. Usare `Spark`**<br>

# Un file CSV molto, molto grande
Riusciamo a caricare un file CSV come [questo](https://www.kaggle.com/datasets/aadimator/nyc-realtime-traffic-speed-data/data)? √® quasi 30GB.<br>
*Download* --> *Download dataset as zip (10 GBs)*.<br>
Il suo nome √® **DOT_Traffic_Speeds_NBE.csv** ed √® relativo al traffico nella citt√† di NewYorl.

Vediamone il significato:

---
That Kaggle dataset is an **export** of NYC DOT‚Äôs **real-time traffic speed feed** (‚ÄúDOT Traffic Speeds NBE‚Äù).

Each row is a **timestamped observation for one road segment (a ‚Äúlink‚Äù)** with the average **speed** and **travel time** between the segment‚Äôs start and end points. It‚Äôs maintained by NYC DOT and mirrored to Kaggle. ([Kaggle][1])

Here‚Äôs what the **fields mean** (names may appear in UPPER_CASE on Kaggle):

* **ID / LINK_ID**
  Unique identifier of the road **segment** (link) from TRANSCOM (regional traffic consortium). `LINK_ID` is the same as `ID`. Use this as **the key to group or join**. ([Sito Ufficiale di New York City][2])

* **SPEED**
  **Average speed (mph)** vehicles traveled **across the whole segment** during the most recent interval. It‚Äôs not spot speed at a point‚Äîthink ‚Äúsegment travel speed.‚Äù Expect missing or zero values at times. ([Sito Ufficiale di New York City][2])

* **TRAVEL_TIME**
  **Seconds** the average vehicle took to traverse the segment in that interval. Roughly `TRAVEL_TIME ‚âà segment_length / SPEED` (after converting units). Useful to derive segment length if you have a stable speed sample. ([Sito Ufficiale di New York City][2])

* **STATUS**
  Marked as an **artifact / not useful** in NYC DOT‚Äôs own metadata. Most people ignore it. ([Sito Ufficiale di New York City][2])

* **DATA_AS_OF** (a.k.a. `DataAsOf`)
  **Timestamp** when data for that link was last received. The feed updates **every few minutes**. Timezone is local (Eastern). Use this for time-series work and resampling. ([Sito Ufficiale di New York City][2])

* **LINK_POINTS**
  **Plaintext sequence of lat/long pairs** describing the link geometry (start‚Üíend polyline). **Caveat:** some values are **truncated**‚Äîdon‚Äôt rely on this alone for precise mapping. ([Medium][3])

* **ENCODED_POLY_LINE**
  **Google-encoded polyline** version of the same geometry. This is usually the better field to decode for maps. (See Google‚Äôs polyline spec referenced by DOT.) ([Sito Ufficiale di New York City][2])

* **ENCODED_POLY_LINE_LVLS**
  **Polyline ‚Äúlevels‚Äù** for Google‚Äôs legacy rendering (zoom levels). Often unused in modern tooling but included for completeness. ([Sito Ufficiale di New York City][2])

* **OWNER**
  Owner of the detector producing this link‚Äôs data (administrative/operational). ([Sito Ufficiale di New York City][2])

* **TRANSCOM_ID / TRANSCOM_ID (artifact)**
  Marked **not useful** by the publisher (redundant with ID). ([Sito Ufficiale di New York City][2])

* **BOROUGH**
  NYC borough name (**Brooklyn, Bronx, Manhattan, Queens, Staten Island**). It can be blank for some links. Handy for rollups and filtering. ([Sito Ufficiale di New York City][2])

* **LINK_NAME / DESCRIPTION**
  Human-readable description of the segment (e.g., ‚ÄúBQE N Atlantic Ave ‚Äî BKN Bridge Manhattan Side‚Äù). Note: **links are one-way**, and not every corridor has both directions in the feed. ([Medium][3])

### How to interpret the dataset (what a ‚Äúrow‚Äù is)

* One **segment (link)** √ó one **timestamp** ‚Üí **avg speed & travel time** for vehicles that **completed** that segment in the interval. It‚Äôs not per-vehicle data; it‚Äôs an **aggregate**. ([Medium][3])
* The feed is **real-time / near-real-time**, updated several times per minute, and covers **major arterials & highways** in NYC. ([Sito Ufficiale di New York City][2])

### Practical notes / gotchas

* **Geometry:** Prefer **`ENCODED_POLY_LINE`** over `LINK_POINTS`; the latter can be cut off. ([Medium][3])
* **Aggregation grain:** Links are **directional**; do not assume two-way coverage for a corridor. ([Medium][3])
* **Units:** SPEED = mph, TRAVEL_TIME = seconds; `BOROUGH` is a label, not a geometry. ([Sito Ufficiale di New York City][2])
* **Quality:** Occasional zeros/missing values; treat **STATUS** as ignorable. ([Sito Ufficiale di New York City][2])

### Typical uses

* Compute **p50/p90 speeds** by `BOROUGH`/`LINK_ID`/hour; detect slowdowns and incidents.
* Map segments by decoding **`ENCODED_POLY_LINE`**; join with borough boundaries for choropleths.
* Derive **segment length** via `median(SPEED)*median(TRAVEL_TIME)` (unit-converted) if length isn‚Äôt separately available.

[1]: https://www.kaggle.com/datasets/aadimator/nyc-realtime-traffic-speed-data?utm_source=chatgpt.com "NYC Real-Time Traffic Speed Data"
[2]: https://www.nyc.gov/html/dot/downloads/pdf/metadata-trafficspeeds.pdf?utm_source=chatgpt.com "Traffic Sensors Metadata What does this data set describe? ..."
[3]: https://medium.com/qri-io/new-qri-dataset-s-nyc-real-time-traffic-speeds-c3e4c88f44be "New Qri Dataset(s): NYC Real-Time Traffic Speeds | by Chris Whong | qri.io | Medium"

---

**NOTE su questa dimensione (circa 30 GB)**

28 GB ‚âà 28.000.000.000 byte ‚âà 26 GiB (se lo guardiamo in termini ‚Äúinformatici‚Äù).

Un file CSV √® testuale, quindi √® poco denso: gli stessi dati in **Parquet** starebbero spesso in **3‚Äì6 GB**.

In RAM questo file, <u>se letto con *pandas*</u>, **occupa ben pi√π spazio di 28 GB**: pandas infatti deve:
- leggere il testo,
- fare il parsing,
- creare gli array interni.

Risultato: 28 GB di CSV con la lettura *pandas* possono diventare **50‚Äì80 GB di RAM** senza sforzarsi troppo (dipende da quante colonne stringa ci sono, da quanti NaN, da quanto sono lunghe le etichette, ecc.).

**√à frequente in azienda una simile dimensione?**
- un singolo CSV da 28 GB non √® la norma nei gestionali/contabilit√†/HR. In questi sistemi troviamo pi√π facilmente **50‚Äì500 MB, massimo 2‚Äì3 GB** quando fanno l‚Äôexport ‚Äúdi tutto‚Äù.
- √® per√≤ normalissimo in contesti tipo:
    - log applicativi / web / sicurezza,
    - telco,
    - mobility / trasporti (tipo il tuo caso),
    - IoT,
    - data lake ‚Äúbuttato gi√π‚Äù da un sistema legacy.

Ma‚Ä¶ quasi mai le aziende vogliono avere un unico CSV da 28 GB. Di solito √® un ‚Äúdumpone‚Äù fatto cos√¨ perch√© ‚Äúera l‚Äôopzione di export‚Äù, oppure perch√© qualcuno ha fatto SELECT * su 3 anni e l‚Äôha mandato su S3. In produzione seria si spezza per data o per partizione e si va con il Parquet.

**Quindi: non √® strano avere 28 GB di dati. √à un po‚Äô strano averli tutti in un solo CSV.**

## Determinazione dell'ambiente di esecuzione.
Il notebook funziona **indifferentemente** sia su Jupyter Notebook / Visual Studio Code che su Google Colab, come detto, <u>a parte due aspetti</u>:
- il caricamento dei dataset nel notebook
- l'inclusione delle immagini *png* nelle singole celle

E' quindi utile **determinare l'ambiente di esecuzione**, impostando una variabile binaria (a `True` se siamo in Google Colab, a `False` se siamo in Jupyter Notebook).

Le due operazioni suddette saranno eseguite in modo differente a seconda del valore della variabile binaria.

In [1]:
# impostazione del TOGGLE BINARIO:
try:
    import google.colab                      # package disponibile SOLO in Google Colab
    IN_COLAB = True
except ImportError:
    IN_COLAB = False

print("Running on Colab:", IN_COLAB)


# IMPORT dei package necessari (necessari sia in JN che in Colab):
from IPython.display import Image, display   # import of embed and image‚Äëdisplay packages (one‚Äëtime)
                                             # Image and display are both needed in Jupyter Notebook
                                             # Google Colab uses only Image
import os                                    # needed in Google Colab to see from a code cell
                                             # the contents of 'content'

Running on Colab: False

## Loading the BIG csv file with Google Colab Pro

How much space do we have in the *session storage* of the VM? (with an L4‚ÄëGPU with 53GB of RAM, 22.5 GB of VRAM and 235.7 GB of disk)

In [2]:
if IN_COLAB:
    !df -h

`overlay 236G 40G 197G 17% /`: this is **the root** of the Colab environment, i.e. what in Colab we see under `/content`.<br>
What really matters is **Avail = 197G**.<br>

Translated: we can create new files up to about 197 GB (then obviously it depends also on how much you use for notebooks, parquets, etc.).

And the other lines (`/dev/root`, `tmpfs`, `/dev/shm‚Ä¶`) of the previous output?
Those are things of the Colab container.
- `/dev/shm 26G` ‚Üí is the shared memory (useful for multiprocessing, for example, but not to save 28 GB).
- `tmpfs 27G` ‚Üí temporary memories in RAM.
...
```python
‚ö†Ô∏è rightly we added the comment: ‚Äúdo it only if it fits in VRAM‚Äù.<br>
This is the part that often, on huge datasets, is not done, and you stop at saving by chunk.
```

Abbiamo quindi tantissimo spazio locale nella VM: **circa 197 GB liberi** ‚Üí quindi s√¨, un file da 28 GB ci sta tranquillamente.

Tuttavia l'upload di un file cos√¨ grande nela *session storage* di Google colab √® lento e a rischio di failure. Molto meglio mettere il file su Google Drive e poi **montare il disco** (autorizzando la connessione Google con i soliti passi):

In [3]:
if IN_COLAB:
    from google.colab import drive
    drive.mount("/content/drive", force_remount=True)  # the argument 'force_remount = True' allows multiple mounts

Cos√¨ il file resta su Drive, non lo dobbiamo ‚Äúcaricare‚Äù nella sessione, lo leggiamo da l√¨ (`/content/drive/MyDrive/.../big.csv`), Colab non deve tenere 28 GB sul disco locale.

‚ö†Ô∏è Attenzione: leggere 28 GB da Drive √® pi√π lento che leggere da disco locale. Per un CSV enorme pu√≤ voler dire **minuti di I/O**.

NB. `drive/MyDrive` √® ora **disponibile anche sotto la `content` del *session storage***.

Possiamo infatti vederlo rieseguendo il comando `!df -h`:

In [4]:
if IN_COLAB:
    !df -h

<u>Domanda</u>: ma ‚Äúoverlay‚Äù e ‚Äúdrive‚Äù hanno la stessa dimensione (236G) ü§î?

S√¨, sembra cos√¨ perch√© Colab spesso **mostra lo stesso backing storage o comunque due volumi con taglia simile**. Quello che ci interessa √®: abbiamo ~200 GB liberi localmente e ~187 GB liberi su Drive ‚Üí entrambi > 28 GB ‚Üí siamo al sicuro.

First of all, as a check, let‚Äôs **list the files on the drive**:

In [5]:
if IN_COLAB:
    import os
    base = "/content/drive/MyDrive"

    for name in os.listdir(base):
        print(name)

If we also want to see **the size** of the files:

In [6]:
if IN_COLAB:
    for name in os.listdir(base):
        path = os.path.join(base, name)
        if os.path.isfile(path):
            print("FILE ", name, os.path.getsize(path))
        else:
            print("DIR  ", name)

Let‚Äôs check the size of the file `DOT_Traffic_Speeds_NBE.csv`:

In [7]:
if IN_COLAB:
    !ls -lh /content/drive/MyDrive/DOT_Traffic_Speeds_NBE.csv

Now we are ready to read the csv file with pandas (`pd.read_csv`) with **cuDF**.

---

**`cudf` is a version of pandas with CUDA acceleration.**

In [10]:
if IN_COLAB:
    %load_ext cudf.pandas
    import pandas as pd
    import cudf
else:
    import pandas as pd

‚Äî

In [ ]:
CHUNK = 200_000_000  # 200 MB per volta
offset = 0
part = 0

import time

# l'avviamento del timer
start_time = time.time()

# // il codice da misurare

# 1. percorso del file
CSV_PATH = "/content/drive/MyDrive/DOT_Traffic_Speeds_NBE.csv"

# 2. dimensione del chunk (si parte basso)
ROWS_PER_CHUNK = 250_000   # ~200-300 MB a seconda delle colonne

# 3. se si vogliono accumulare i chunk in GPU (solo se li possiamo tenere)
gdf_parts = []

for i, chunk in enumerate(pd.read_csv(CSV_PATH, chunksize=ROWS_PER_CHUNK)):
    print(f"[pandas] letto chunk {i} con {len(chunk)} righe")

    # 4. converte il chunk pandas -> cuDF (qui usiamo la GPU)
    gdf_chunk = cudf.from_pandas(chunk)
    print(f"[cuDF] chunk {i} in GPU con shape {gdf_chunk.shape}")

    # ‚¨áÔ∏è qui possiamo fare le nostre operazioni in GPU
    # esempio: filtro
    # gdf_chunk = gdf_chunk[gdf_chunk["BOROUGH"] == "MANHATTAN"]

    # esempio: salviamo subito in parquet per non tenere tutto in GPU
    # gdf_chunk.to_parquet(f"/content/out_part_{i:04d}.parquet")

    # se invece li teniamo per per unirli dopo:
    gdf_parts.append(gdf_chunk)

# 5. (opzionale) uniamo tutti i pezzi GPU in un unico DataFrame cuDF
# ‚ö†Ô∏è facciamo solo se ci sta in VRAM
if gdf_parts:
    gdf_all = cudf.concat(gdf_parts, ignore_index=True)
    print(gdf_all.shape)

# // fine del codice da misurare

# fine timer e stampa
end_time = time.time()
print ('Tempo totale di esecuzione: ', end_time - start_time)

[pandas] letto chunk 0 con 250000 righe
[cuDF] chunk 0 in GPU con shape (250000, 13)
[pandas] letto chunk 1 con 250000 righe
[cuDF] chunk 1 in GPU con shape (250000, 13)
[pandas] letto chunk 2 con 250000 righe
[cuDF] chunk 2 in GPU con shape (250000, 13)
[pandas] letto chunk 3 con 250000 righe
[cuDF] chunk 3 in GPU con shape (250000, 13)
[pandas] letto chunk 4 con 250000 righe
[cuDF] chunk 4 in GPU con shape (250000, 13)
[pandas] letto chunk 5 con 250000 righe
[cuDF] chunk 5 in GPU con shape (250000, 13)
[pandas] letto chunk 6 con 250000 righe
[cuDF] chunk 6 in GPU con shape (250000, 13)
[pandas] letto chunk 7 con 250000 righe
[cuDF] chunk 7 in GPU con shape (250000, 13)
[pandas] letto chunk 8 con 250000 righe
[cuDF] chunk 8 in GPU con shape (250000, 13)
[pandas] letto chunk 9 con 250000 righe
[cuDF] chunk 9 in GPU con shape (250000, 13)
[pandas] letto chunk 10 con 250000 righe
[cuDF] chunk 10 in GPU con shape (250000, 13)
[pandas] letto chunk 11 con 250000 righe
[cuDF] chunk 11 in GPU con shape (250000, 13)
[pandas] letto chunk 12 con 250000 righe
[cuDF] chunk 12 in GPU con shape (250000, 13)
[pandas] letto chunk 13 con 250000 righe
[cuDF] chunk 13 in GPU con shape (250000, 13)
[pandas] letto chunk 14 con 250000 righe
[cuDF] chunk 14 in GPU con shape (250000, 13)
[pandas] letto chunk 15 con 250000 righe
[cuDF] chunk 15 in GPU con shape (250000, 13)
[pandas] letto chunk 16 con 250000 righe
[cuDF] chunk 16 in GPU con shape (250000, 13)
[pandas] letto chunk 17 con 250000 righe
[cuDF] chunk 17 in GPU con shape (250000, 13)
[pandas] letto chunk 18 con 250000 righe
[cuDF] chunk 18 in GPU con shape (250000, 13)
[pandas] letto chunk 19 con 250000 righe
[cuDF] chunk 19 in GPU con shape (250000, 13)
[pandas] letto chunk 20 con 250000 righe
[cuDF] chunk 20 in GPU con shape (250000, 13)
[pandas] letto chunk 21 con 250000 righe
[cuDF] chunk 21 in GPU con shape (250000, 13)
[pandas] letto chunk 22 con 250000 righe
[cuDF] chunk 22 in GPU con shape (250000, 13)
[pandas] letto chunk 23 con 250000 righe
[cuDF] chunk 23 in GPU con shape (250000, 13)
[pandas] letto chunk 24 con 250000 righe
[cuDF] chunk 24 in GPU con shape (250000, 13)
[pandas] letto chunk 25 con 250000 righe
[cuDF] chunk 25 in GPU con shape (250000, 13)
[pandas] letto chunk 26 con 250000 righe
[cuDF] chunk 26 in GPU con shape (250000, 13)
[pandas] letto chunk 27 con 250000 righe
[cuDF] chunk 27 in GPU con shape (250000, 13)
[pandas] letto chunk 28 con 250000 righe
[cuDF] chunk 28 in GPU con shape (250000, 13)
[pandas] letto chunk 29 con 250000 righe
[cuDF] chunk 29 in GPU con shape (250000, 13)
[pandas] letto chunk 30 con 250000 righe
[cuDF] chunk 30 in GPU con shape (250000, 13)
[pandas] letto chunk 31 con 250000 righe
[cuDF] chunk 31 in GPU con shape (250000, 13)
[pandas] letto chunk 32 con 250000 righe
[cuDF] chunk 32 in GPU con shape (250000, 13)
[pandas] letto chunk 33 con 250000 righe
[cuDF] chunk 33 in GPU con shape (250000, 13)
[pandas] letto chunk 34 con 250000 righe
[cuDF] chunk 34 in GPU con shape (250000, 13)
[pandas] letto chunk 35 con 250000 righe
[cuDF] chunk 35 in GPU con shape (250000, 13)
[pandas] letto chunk 36 con 250000 righe
[cuDF] chunk 36 in GPU con shape (250000, 13)
[pandas] letto chunk 37 con 250000 righe
[cuDF] chunk 37 in GPU con shape (250000, 13)
[pandas] letto chunk 38 con 250000 righe
[cuDF] chunk 38 in GPU con shape (250000, 13)
[pandas] letto chunk 39 con 250000 righe
[cuDF] chunk 39 in GPU con shape (250000, 13)
[pandas] letto chunk 40 con 250000 righe
[cuDF] chunk 40 in GPU con shape (250000, 13)
[pandas] letto chunk 41 con 250000 righe
[cuDF] chunk 41 in GPU con shape (250000, 13)
[pandas] letto chunk 42 con 250000 righe
[cuDF] chunk 42 in GPU con shape (250000, 13)
[pandas] letto chunk 43 con 250000 righe
[cuDF] chunk 43 in GPU con shape (250000, 13)
[pandas] letto chunk 44 con 250000 righe
[cuDF] chunk 44 in GPU con shape (250000, 13)
[pandas] letto chunk 45 con 250000 righe
[cuDF] chunk 45 in GPU con shape (250000, 13)
[pandas] letto chunk 46 con 250000 righe
[cuDF] chunk 46 in GPU con shape (250000, 13)
[pandas] letto chunk 47 con 250000 righe
[cuDF] chunk 47 in GPU con shape (250000, 13)
[pandas] letto chunk 48 con 250000 righe
[cuDF] chunk 48 in GPU con shape (250000, 13)
[pandas] letto chunk 49 con 250000 righe
[cuDF] chunk 49 in GPU con shape (250000, 13)
[pandas] letto chunk 50 con 250000 righe
[cuDF] chunk 50 in GPU con shape (250000, 13)
[pandas] letto chunk 51 con 250000 righe
[cuDF] chunk 51 in GPU con shape (250000, 13)
[pandas] letto chunk 52 con 250000 righe
[cuDF] chunk 52 in GPU con shape (250000, 13)
[pandas] letto chunk 53 con 250000 righe
[cuDF] chunk 53 in GPU con shape (250000, 13)
[pandas] letto chunk 54 con 250000 righe
[cuDF] chunk 54 in GPU con shape (250000, 13)
[pandas] letto chunk 55 con 250000 righe
[cuDF] chunk 55 in GPU con shape (250000, 13)
[pandas] letto chunk 56 con 250000 righe
[cuDF] chunk 56 in GPU con shape (250000, 13)
[pandas] letto chunk 57 con 250000 righe
[cuDF] chunk 57 in GPU con shape (250000, 13)
[pandas] letto chunk 58 con 250000 righe
[cuDF] chunk 58 in GPU con shape (250000, 13)
[pandas] letto chunk 59 con 250000 righe
[cuDF] chunk 59 in GPU con shape (250000, 13)
[pandas] letto chunk 60 con 250000 righe
[cuDF] chunk 60 in GPU con shape (250000, 13)
[pandas] letto chunk 61 con 250000 righe
[cuDF] chunk 61 in GPU con shape (250000, 13)
[pandas] letto chunk 62 con 250000 righe
[cuDF] chunk 62 in GPU con shape (250000, 13)
[pandas] letto chunk 63 con 250000 righe
[cuDF] chunk 63 in GPU con shape (250000, 13)
[pandas] letto chunk 64 con 250000 righe
[cuDF] chunk 64 in GPU con shape (250000, 13)
[pandas] letto chunk 65 con 250000 righe
[cuDF] chunk 65 in GPU con shape (250000, 13)
[pandas] letto chunk 66 con 250000 righe
[cuDF] chunk 66 in GPU con shape (250000, 13)
[pandas] letto chunk 67 con 250000 righe
[cuDF] chunk 67 in GPU con shape (250000, 13)
[pandas] letto chunk 68 con 250000 righe
[cuDF] chunk 68 in GPU con shape (250000, 13)
[pandas] letto chunk 69 con 250000 righe
[cuDF] chunk 69 in GPU con shape (250000, 13)
[pandas] letto chunk 70 con 250000 righe
[cuDF] chunk 70 in GPU con shape (250000, 13)
[pandas] letto chunk 71 con 250000 righe
[cuDF] chunk 71 in GPU con shape (250000, 13)
[pandas] letto chunk 72 con 250000 righe
[cuDF] chunk 72 in GPU con shape (250000, 13)
[pandas] letto chunk 73 con 250000 righe
[cuDF] chunk 73 in GPU con shape (250000, 13)
[pandas] letto chunk 74 con 250000 righe
[cuDF] chunk 74 in GPU con shape (250000, 13)
[pandas] letto chunk 75 con 250000 righe
[cuDF] chunk 75 in GPU con shape (250000, 13)
[pandas] letto chunk 76 con 250000 righe
[cuDF] chunk 76 in GPU con shape (250000, 13)
[pandas] letto chunk 77 con 250000 righe
[cuDF] chunk 77 in GPU con shape (250000, 13)
[pandas] letto chunk 78 con 250000 righe
[cuDF] chunk 78 in GPU con shape (250000, 13)
[pandas] letto chunk 79 con 250000 righe
[cuDF] chunk 79 in GPU con shape (250000, 13)
[pandas] letto chunk 80 con 250000 righe
[cuDF] chunk 80 in GPU con shape (250000, 13)
[pandas] letto chunk 81 con 250000 righe
[cuDF] chunk 81 in GPU con shape (250000, 13)
[pandas] letto chunk 82 con 250000 righe
[cuDF] chunk 82 in GPU con shape (250000, 13)
[pandas] letto chunk 83 con 250000 righe
[cuDF] chunk 83 in GPU con shape (250000, 13)
[pandas] letto chunk 84 con 250000 righe
[cuDF] chunk 84 in GPU con shape (250000, 13)
[pandas] letto chunk 85 con 250000 righe
[cuDF] chunk 85 in GPU con shape (250000, 13)
[pandas] letto chunk 86 con 250000 righe
[cuDF] chunk 86 in GPU con shape (250000, 13)
[pandas] letto chunk 87 con 250000 righe
[cuDF] chunk 87 in GPU con shape (250000, 13)
[pandas] letto chunk 88 con 250000 righe
[cuDF] chunk 88 in GPU con shape (250000, 13)
[pandas] letto chunk 89 con 250000 righe
[cuDF] chunk 89 in GPU con shape (250000, 13)
[pandas] letto chunk 90 con 250000 righe
[cuDF] chunk 90 in GPU con shape (250000, 13)
[pandas] letto chunk 91 con 250000 righe
[cuDF] chunk 91 in GPU con shape (250000, 13)
[pandas] letto chunk 92 con 250000 righe
[cuDF] chunk 92 in GPU con shape (250000, 13)
[pandas] letto chunk 93 con 250000 righe
[cuDF] chunk 93 in GPU con shape (250000, 13)
[pandas] letto chunk 94 con 250000 righe
[cuDF] chunk 94 in GPU con shape (250000, 13)
[pandas] letto chunk 95 con 250000 righe
[cuDF] chunk 95 in GPU con shape (250000, 13)
[pandas] letto chunk 96 con 250000 righe
[cuDF] chunk 96 in GPU con shape (250000, 13)
[pandas] letto chunk 97 con 250000 righe
[cuDF] chunk 97 in GPU con shape (250000, 13)
[pandas] letto chunk 98 con 250000 righe
[cuDF] chunk 98 in GPU con shape (250000, 13)
[pandas] letto chunk 99 con 250000 righe
[cuDF] chunk 99 in GPU con shape (250000, 13)
[pandas] letto chunk 100 con 250000 righe
[cuDF] chunk 100 in GPU con shape (250000, 13)
[pandas] letto chunk 101 con 250000 righe
[cuDF] chunk 101 in GPU con shape (250000, 13)
[pandas] letto chunk 102 con 250000 righe
[cuDF] chunk 102 in GPU con shape (250000, 13)
[pandas] letto chunk 103 con 250000 righe
[cuDF] chunk 103 in GPU con shape (250000, 13)
[pandas] letto chunk 104 con 250000 righe
[cuDF] chunk 104 in GPU con shape (250000, 13)
[pandas] letto chunk 105 con 250000 righe
[cuDF] chunk 105 in GPU con shape (250000, 13)
[pandas] letto chunk 106 con 250000 righe
[cuDF] chunk 106 in GPU con shape (250000, 13)
[pandas] letto chunk 107 con 250000 righe
[cuDF] chunk 107 in GPU con shape (250000, 13)
[pandas] letto chunk 108 con 250000 righe
[cuDF] chunk 108 in GPU con shape (250000, 13)
[pandas] letto chunk 109 con 250000 righe
[cuDF] chunk 109 in GPU con shape (250000, 13)
[pandas] letto chunk 110 con 250000 righe
[cuDF] chunk 110 in GPU con shape (250000, 13)
[pandas] letto chunk 111 con 250000 righe
[cuDF] chunk 111 in GPU con shape (250000, 13)
[pandas] letto chunk 112 con 250000 righe
[cuDF] chunk 112 in GPU con shape (250000, 13)
[pandas] letto chunk 113 con 250000 righe
[cuDF] chunk 113 in GPU con shape (250000, 13)
[pandas] letto chunk 114 con 250000 righe
[cuDF] chunk 114 in GPU con shape (250000, 13)
[pandas] letto chunk 115 con 250000 righe
[cuDF] chunk 115 in GPU con shape (250000, 13)
[pandas] letto chunk 116 con 250000 righe
[cuDF] chunk 116 in GPU con shape (250000, 13)
[pandas] letto chunk 117 con 250000 righe
[cuDF] chunk 117 in GPU con shape (250000, 13)
[pandas] letto chunk 118 con 250000 righe
[cuDF] chunk 118 in GPU con shape (250000, 13)
[pandas] letto chunk 119 con 250000 righe
[cuDF] chunk 119 in GPU con shape (250000, 13)
[pandas] letto chunk 120 con 250000 righe
[cuDF] chunk 120 in GPU con shape (250000, 13)
[pandas] letto chunk 121 con 250000 righe
[cuDF] chunk 121 in GPU con shape (250000, 13)
[pandas] letto chunk 122 con 250000 righe
[cuDF] chunk 122 in GPU con shape (250000, 13)
[pandas] letto chunk 123 con 250000 righe
[cuDF] chunk 123 in GPU con shape (250000, 13)
[pandas] letto chunk 124 con 250000 righe
[cuDF] chunk 124 in GPU con shape (250000, 13)
[pandas] letto chunk 125 con 250000 righe
[cuDF] chunk 125 in GPU con shape (250000, 13)
[pandas] letto chunk 126 con 250000 righe
[cuDF] chunk 126 in GPU con shape (250000, 13)
[pandas] letto chunk 127 con 250000 righe
[cuDF] chunk 127 in GPU con shape (250000, 13)
[pandas] letto chunk 128 con 250000 righe
[cuDF] chunk 128 in GPU con shape (250000, 13)
[pandas] letto chunk 129 con 250000 righe
[cuDF] chunk 129 in GPU con shape (250000, 13)
[pandas] letto chunk 130 con 250000 righe
[cuDF] chunk 130 in GPU con shape (250000, 13)
[pandas] letto chunk 131 con 250000 righe
[cuDF] chunk 131 in GPU con shape (250000, 13)
[pandas] letto chunk 132 con 250000 righe
[cuDF] chunk 132 in GPU con shape (250000, 13)
[pandas] letto chunk 133 con 250000 righe
[cuDF] chunk 133 in GPU con shape (250000, 13)
[pandas] letto chunk 134 con 250000 righe
[cuDF] chunk 134 in GPU con shape (250000, 13)
[pandas] letto chunk 135 con 250000 righe
[cuDF] chunk 135 in GPU con shape (250000, 13)
[pandas] letto chunk 136 con 250000 righe
[cuDF] chunk 136 in GPU con shape (250000, 13)
[pandas] letto chunk 137 con 250000 righe
[cuDF] chunk 137 in GPU con shape (250000, 13)
[pandas] letto chunk 138 con 250000 righe
[cuDF] chunk 138 in GPU con shape (250000, 13)
[pandas] letto chunk 139 con 250000 righe
[cuDF] chunk 139 in GPU con shape (250000, 13)
[pandas] letto chunk 140 con 250000 righe
[cuDF] chunk 140 in GPU con shape (250000, 13)
[pandas] letto chunk 141 con 250000 righe
[cuDF] chunk 141 in GPU con shape (250000, 13)
[pandas] letto chunk 142 con 250000 righe
[cuDF] chunk 142 in GPU con shape (250000, 13)
[pandas] letto chunk 143 con 250000 righe
[cuDF] chunk 143 in GPU con shape (250000, 13)
[pandas] letto chunk 144 con 250000 righe
[cuDF] chunk 144 in GPU con shape (250000, 13)
[pandas] letto chunk 145 con 250000 righe
[cuDF] chunk 145 in GPU con shape (250000, 13)
[pandas] letto chunk 146 con 250000 righe
[cuDF] chunk 146 in GPU con shape (250000, 13)
[pandas] letto chunk 147 con 250000 righe
[cuDF] chunk 147 in GPU con shape (250000, 13)
[pandas] letto chunk 148 con 250000 righe
[cuDF] chunk 148 in GPU con shape (250000, 13)
[pandas] letto chunk 149 con 250000 righe
[cuDF] chunk 149 in GPU con shape (250000, 13)
[pandas] letto chunk 150 con 250000 righe
[cuDF] chunk 150 in GPU con shape (250000, 13)
[pandas] letto chunk 151 con 250000 righe
[cuDF] chunk 151 in GPU con shape (250000, 13)
[pandas] letto chunk 152 con 250000 righe
[cuDF] chunk 152 in GPU con shape (250000, 13)
[pandas] letto chunk 153 con 250000 righe
[cuDF] chunk 153 in GPU con shape (250000, 13)
[pandas] letto chunk 154 con 250000 righe
[cuDF] chunk 154 in GPU con shape (250000, 13)
[pandas] letto chunk 155 con 250000 righe
[cuDF] chunk 155 in GPU con shape (250000, 13)
[pandas] letto chunk 156 con 250000 righe
[cuDF] chunk 156 in GPU con shape (250000, 13)
[pandas] letto chunk 157 con 250000 righe
[cuDF] chunk 157 in GPU con shape (250000, 13)
[pandas] letto chunk 158 con 250000 righe
[cuDF] chunk 158 in GPU con shape (250000, 13)
[pandas] letto chunk 159 con 250000 righe
[cuDF] chunk 159 in GPU con shape (250000, 13)
[pandas] letto chunk 160 con 250000 righe
[cuDF] chunk 160 in GPU con shape (250000, 13)
[pandas] letto chunk 161 con 250000 righe
[cuDF] chunk 161 in GPU con shape (250000, 13)
[pandas] letto chunk 162 con 250000 righe
[cuDF] chunk 162 in GPU con shape (250000, 13)
[pandas] letto chunk 163 con 250000 righe
[cuDF] chunk 163 in GPU con shape (250000, 13)
[pandas] letto chunk 164 con 250000 righe
[cuDF] chunk 164 in GPU con shape (250000, 13)
[pandas] letto chunk 165 con 250000 righe
[cuDF] chunk 165 in GPU con shape (250000, 13)
[pandas] letto chunk 166 con 250000 righe
[cuDF] chunk 166 in GPU con shape (250000, 13)
[pandas] letto chunk 167 con 250000 righe
[cuDF] chunk 167 in GPU con shape (250000, 13)
[pandas] letto chunk 168 con 250000 righe
[cuDF] chunk 168 in GPU con shape (250000, 13)
[pandas] letto chunk 169 con 250000 righe
[cuDF] chunk 169 in GPU con shape (250000, 13)
[pandas] letto chunk 170 con 250000 righe
[cuDF] chunk 170 in GPU con shape (250000, 13)
[pandas] letto chunk 171 con 250000 righe
[cuDF] chunk 171 in GPU con shape (250000, 13)
[pandas] letto chunk 172 con 250000 righe
[cuDF] chunk 172 in GPU con shape (250000, 13)
[pandas] letto chunk 173 con 250000 righe
[cuDF] chunk 173 in GPU con shape (250000, 13)
[pandas] letto chunk 174 con 250000 righe
[cuDF] chunk 174 in GPU con shape (250000, 13)
[pandas] letto chunk 175 con 250000 righe
[cuDF] chunk 175 in GPU con shape (250000, 13)
[pandas] letto chunk 176 con 250000 righe
[cuDF] chunk 176 in GPU con shape (250000, 13)
[pandas] letto chunk 177 con 250000 righe
[cuDF] chunk 177 in GPU con shape (250000, 13)
[pandas] letto chunk 178 con 250000 righe
[cuDF] chunk 178 in GPU con shape (250000, 13)
[pandas] letto chunk 179 con 250000 righe
[cuDF] chunk 179 in GPU con shape (250000, 13)
[pandas] letto chunk 180 con 250000 righe
[cuDF] chunk 180 in GPU con shape (250000, 13)
[pandas] letto chunk 181 con 250000 righe
[cuDF] chunk 181 in GPU con shape (250000, 13)
[pandas] letto chunk 182 con 250000 righe
[cuDF] chunk 182 in GPU con shape (250000, 13)
[pandas] letto chunk 183 con 250000 righe
[cuDF] chunk 183 in GPU con shape (250000, 13)
[pandas] letto chunk 184 con 250000 righe
[cuDF] chunk 184 in GPU con shape (250000, 13)
[pandas] letto chunk 185 con 250000 righe
[cuDF] chunk 185 in GPU con shape (250000, 13)
[pandas] letto chunk 186 con 250000 righe
[cuDF] chunk 186 in GPU con shape (250000, 13)
[pandas] letto chunk 187 con 250000 righe
[cuDF] chunk 187 in GPU con shape (250000, 13)
[pandas] letto chunk 188 con 250000 righe
[cuDF] chunk 188 in GPU con shape (250000, 13)
[pandas] letto chunk 189 con 250000 righe
[cuDF] chunk 189 in GPU con shape (250000, 13)
[pandas] letto chunk 190 con 250000 righe
[cuDF] chunk 190 in GPU con shape (250000, 13)
[pandas] letto chunk 191 con 250000 righe
[cuDF] chunk 191 in GPU con shape (250000, 13)
[pandas] letto chunk 192 con 250000 righe
[cuDF] chunk 192 in GPU con shape (250000, 13)
[pandas] letto chunk 193 con 250000 righe
[cuDF] chunk 193 in GPU con shape (250000, 13)
[pandas] letto chunk 194 con 250000 righe
[cuDF] chunk 194 in GPU con shape (250000, 13)
[pandas] letto chunk 195 con 250000 righe
[cuDF] chunk 195 in GPU con shape (250000, 13)
[pandas] letto chunk 196 con 250000 righe
[cuDF] chunk 196 in GPU con shape (250000, 13)
[pandas] letto chunk 197 con 250000 righe
[cuDF] chunk 197 in GPU con shape (250000, 13)
[pandas] letto chunk 198 con 250000 righe
[cuDF] chunk 198 in GPU con shape (250000, 13)
[pandas] letto chunk 199 con 250000 righe
[cuDF] chunk 199 in GPU con shape (250000, 13)
[pandas] letto chunk 200 con 250000 righe
[cuDF] chunk 200 in GPU con shape (250000, 13)
[pandas] letto chunk 201 con 250000 righe
[cuDF] chunk 201 in GPU con shape (250000, 13)
[pandas] letto chunk 202 con 250000 righe
[cuDF] chunk 202 in GPU con shape (250000, 13)
[pandas] letto chunk 203 con 250000 righe
[cuDF] chunk 203 in GPU con shape (250000, 13)
[pandas] letto chunk 204 con 250000 righe
[cuDF] chunk 204 in GPU con shape (250000, 13)
[pandas] letto chunk 205 con 250000 righe
[cuDF] chunk 205 in GPU con shape (250000, 13)
[pandas] letto chunk 206 con 250000 righe
[cuDF] chunk 206 in GPU con shape (250000, 13)
[pandas] letto chunk 207 con 250000 righe
[cuDF] chunk 207 in GPU con shape (250000, 13)
[pandas] letto chunk 208 con 250000 righe
[cuDF] chunk 208 in GPU con shape (250000, 13)
[pandas] letto chunk 209 con 250000 righe
[cuDF] chunk 209 in GPU con shape (250000, 13)
[pandas] letto chunk 210 con 250000 righe
[cuDF] chunk 210 in GPU con shape (250000, 13)
[pandas] letto chunk 211 con 250000 righe
[cuDF] chunk 211 in GPU con shape (250000, 13)
[pandas] letto chunk 212 con 250000 righe
[cuDF] chunk 212 in GPU con shape (250000, 13)
[pandas] letto chunk 213 con 250000 righe
[cuDF] chunk 213 in GPU con shape (250000, 13)
[pandas] letto chunk 214 con 250000 righe
[cuDF] chunk 214 in GPU con shape (250000, 13)
[pandas] letto chunk 215 con 250000 righe
[cuDF] chunk 215 in GPU con shape (250000, 13)
[pandas] letto chunk 216 con 250000 righe
[cuDF] chunk 216 in GPU con shape (250000, 13)
[pandas] letto chunk 217 con 250000 righe
[cuDF] chunk 217 in GPU con shape (250000, 13)
[pandas] letto chunk 218 con 250000 righe
[cuDF] chunk 218 in GPU con shape (250000, 13)
[pandas] letto chunk 219 con 250000 righe
[cuDF] chunk 219 in GPU con shape (250000, 13)
[pandas] letto chunk 220 con 250000 righe
[cuDF] chunk 220 in GPU con shape (250000, 13)
[pandas] letto chunk 221 con 250000 righe
[cuDF] chunk 221 in GPU con shape (250000, 13)
[pandas] letto chunk 222 con 250000 righe
[cuDF] chunk 222 in GPU con shape (250000, 13)
[pandas] letto chunk 223 con 250000 righe
[cuDF] chunk 223 in GPU con shape (250000, 13)
[pandas] letto chunk 224 con 250000 righe
[cuDF] chunk 224 in GPU con shape (250000, 13)
[pandas] letto chunk 225 con 250000 righe
[cuDF] chunk 225 in GPU con shape (250000, 13)
[pandas] letto chunk 226 con 250000 righe
[cuDF] chunk 226 in GPU con shape (250000, 13)

Let‚Äôs see line by line what the code of the previous cell does.

**Timer**
```python
import time
start_time = time.time()
```
where:
- we import the `time` package
- we save the starting instant
- at the end we save the ending instant to say ‚Äúall this loop took X seconds‚Äù.
...
We print how long the whole loop took: chunk reading + conversion + possible concat.

The following version has another approach: it ‚Äúdoes not accumulate, it processes and then discards‚Äù, it is even safer (**770 seconds on L4‚ÄëGPU**) üëá

In [ ]:
import time
# l'avviamento del timer
start_time = time.time()

CSV_PATH = "/content/drive/MyDrive/DOT_Traffic_Speeds_NBE.csv"
ROWS_PER_CHUNK = 250_000

# creazione della directory sul session storage
out_dir = "/content/parquet_parts"
os.makedirs(out_dir, exist_ok=True)

for i, chunk in enumerate(pd.read_csv(CSV_PATH, chunksize=ROWS_PER_CHUNK)):
    gdf = cudf.from_pandas(chunk)
    # fai le tue operazioni qui...
    # e poi NON lo tieni in memoria
    gdf.to_parquet(f"{out_dir}/part_{i:04d}.parquet")

# fine timer e stampa
end_time = time.time()
print ('Tempo totale di esecuzione: ', end_time - start_time)

Tempo totale di esecuzione:  770.3484830856323

`chunk` ‚Üí is the **pandas dataframe** that comes from the CSV.

`gdf` ‚Üí is the **cuDF dataframe** (the ‚Äúreal‚Äù one we work on in the GPU).

do we want to use pandas? ‚Üí we use `chunk`<br>
do we want to use cuDF? ‚Üí we use `gdf` (this is ‚Äúthe dataframe‚Äù we are interested in for the GPU)

We want to count the rows:
...
- timestamp ‚Üí the date/time of the measurement (every 30 minutes).
- open, high, low, close, volume (OHLCV) ‚Üí classic trading fields.

üìê Approximate size:
- About **36 million rows**,
- Size **~ 600‚Äì700 MB** in Parquet format,
- **If converted to CSV it would become much heavier (even several GB)**.

In [11]:
if IN_COLAB:
    !wc -l /content/drive/MyDrive/DOT_Traffic_Speeds_NBE.csv

64,914,524 rows!

Knowing the size in rows of the file we can now write the **most effective file‚Äëreading loop** (with `chunk` = 1,000,000):

In [ ]:
if IN_COLAB:
    path = "/content/drive/MyDrive/DOT_Traffic_Speeds_NBE.csv"

    ROWS_PER_CHUNK = 1_000_000   # 1 milione: ~65 giri

    total = 0
    for i, chunk in enumerate(pd.read_csv(path, chunksize=ROWS_PER_CHUNK)):
        gdf = cudf.from_pandas(chunk)
        total += len(gdf)
        print(f"chunk {i:03d} -> {len(gdf)} righe, totale: {total}")

    print("‚úÖ totale letto:", total)

NameError: name 'cudf' is not defined

In [ ]:
chunk.shape # l'ultimo chunk in memoria

(914523, 13)

In [ ]:
gdf.shape # l'ultimo

(914523, 13)

Before we read in chunks.<br>
Now let‚Äôs TRY to read the whole file **in a single dataframe in memory**. There is the risk that **RAM explodes**, but here we have 53GB!

In [ ]:
if IN_COLAB:
    dfs = []
    for chunk in pd.read_csv(path, chunksize=1_000_000):
        dfs.append(chunk)

    df = pd.concat(dfs, ignore_index=True)

KeyboardInterrupt:

In [ ]:
df.shape

In [ ]:
df.head()

If we wanted instead to read back the first chunk we would do:

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/DOT_Traffic_Speeds_NBE.csv"

reader = pd.read_csv(path, chunksize=1_000_000)  # creates the iterator
first_chunk = next(reader)                       # takes ONLY the first piece

first_chunk.head()

# The *parquet* format

We will use the time series `usa_stocks_30m.parquet`: it is an OHLCV series of 514 Nasdaq and NYSE stocks (from 1998 to 2024).

...

In [ ]:
# Download of the big time series
import urllib.request

file_path = "usa_stocks_30m.parquet"
url = "https://storage.googleapis.com/rapidsai/colab-data/usa_stocks_30m.parquet"

if not os.path.isfile(file_path):
    print(f"Scarico il file {file_path}...")
    urllib.request.urlretrieve(url, file_path)
    print("Download completato.")
else:
    print(f"{file_path} gi√† presente.")

Scarico il file usa_stocks_30m.parquet...
Download completato.

**The file `usa_stocks_30m.parquet`**<br>

The file `usa_stocks_30m.parquet` is a dataset made available to experiment with financial time series with GPU‚Äëaccelerated libraries (like `cuDF`).

üìå In practice:
- It is a file in **Parquet format** (columnar, compressed, very efficient for big data).
- It contains **US stock price** data (listed stocks) recorded at a **30‚Äëminute frequency**.
- It is intended for demos: time‚Äëseries analysis, manipulation with pandas/cuDF, CPU vs GPU benchmarks.

üìä Typically it includes:
- ticker ‚Üí the stock symbol (e.g. AAPL, MSFT).
- timestamp ‚Üí the date/time of the measurement (every 30 min).
- open, high, low, close, volume (OHLCV) ‚Üí classic trading fields.

üìê Approximate size:
- About **36 million rows**,
- Size **~ 600‚Äì700 MB** in Parquet format,
- **If converted to CSV it would become much heavier (even several GB)**.

üëâ The Parquet format **is much more efficient than CSV**:
- it is binary and compressed (takes up less space);
- it is columnar ‚Üí pandas can read only the needed columns;
- it preserves data types (no inference every time).

In [ ]:
df = pd.read_parquet("usa_stocks_30m.parquet")

In [ ]:
df.head()

             datetime   open   high    low  close   volume ticker
0 1999-11-18 17:00:00  45.56  50.00  45.50  46.00  9275000      A
1 1999-11-18 17:30:00  46.00  47.69  45.82  46.57  3200900      A
2 1999-11-18 18:00:00  46.56  46.63  41.00  41.00  3830500      A
3 1999-11-18 18:30:00  41.00  43.38  40.37  42.38  3688600      A
4 1999-11-18 19:00:00  42.31  42.44  41.56  41.69  1584300      A

In [ ]:
df.shape

(36087094, 7)

# Pickle and Feather: little used?

- `Parquet`: default for large tabular data ‚Üí columnar, compressed, partitionable, cross‚Äëlanguage (Spark, DuckDB, BigQuery, etc.).
- `CSV`: human/universal exchange, but heavy and slow.
- `Feather (Arrow IPC file)`: super‚Äëfast for temporary exchanges between Python/R, but with fewer features (no partitioning, no append, little ‚Äúschema evolution‚Äù).
- `Pickle`: Python‚Äëonly, not safe to load if you don‚Äôt trust the source, excellent for serialising Python objects (sklearn models, lists), not for durable tabular ‚Äúdata‚Äù.

**Are `Feather` and `Pickle` ‚Äúlittle used‚Äù?**

`Pickle`
- üîí Security: pickle.load can execute code ‚Üí not recommended for shared files.
- üß¨ Low portability: Python‚Äëonly and sometimes tied to versions/libraries.
...

# JSON format
JSON is another very common format.

1Ô∏è‚É£ **Python ‚Üí JSON**

2Ô∏è‚É£ **JSON ‚Üí Python**

In [ ]:
import json

dati = {
    "nome": "Antonio",
    "eta": 45,
    "linguaggi": ["Python", "SQL", "R"],
    "attivo": True
}

# Write to JSON file
with open("dati.json", "w") as f:
    json.dump(dati, f, indent=4, ensure_ascii=False)

print("‚úÖ File JSON creato!")

‚úÖ File JSON creato!

We can also explore it:

2Ô∏è‚É£ **Python ‚Üí CSV**

In [ ]:
import json

with open("dati.json", "r") as f:
    dati_letti = json.load(f)

print(dati_letti["nome"])     # Antonio
print(type(dati_letti))       # dict

Antonio
<class 'dict'>

3Ô∏è‚É£ **CSV ‚Üí JSON**

We use the file `Credit_ISLR.csv`.<br>
Let‚Äôs convert it to JSON:

In [ ]:
import csv
import json

with open("Credit_ISLR.csv", "r") as f_csv:
    reader = csv.DictReader(f_csv)
    dati = list(reader)

with open("Credit_ISLR.json", "w") as f_json:
    json.dump(dati, f_json, indent=4, ensure_ascii=False)

print("‚úÖ CSV convertito in JSON!")

‚úÖ CSV convertito in JSON!

4Ô∏è‚É£ **JSON ‚Üí CSV**

Now let‚Äôs do the opposite:

In [ ]:
import json
import csv

with open("Credit_ISLR.json", "r") as f_json:
    dati = json.load(f_json)

with open("Credit_ISLR_out.csv", "w", newline="") as f_csv:
    writer = csv.DictWriter(f_csv, fieldnames=dati[0].keys())
    writer.writeheader()
    writer.writerows(dati)

print("‚úÖ JSON convertito in CSV!")

‚úÖ JSON convertito in CSV!

![](json_sintesi.png)

# Technical note on PDFs
In VS Code the rendering of PDF files is different from that of Jupyter Notebook/Lab and from that of Google Colab.<br>
The following function `show_pdf` detects which IDE is active and ‚Äúrenders‚Äù the PDF differently.

In [ ]:
def show_pdf(pdf_path, width=1000, height=600):
    """
    Mostra un PDF nel modo pi√π appropriato per l'ambiente attuale:
    - In Jupyter: visualizza inline con IFrame.
    - In Colab: usa IFrame (gestisce bene i file caricati).
    - In VS Code o altri ambienti: apre nel browser predefinito.
    """
    import os, webbrowser, sys
    from pathlib import Path

    pdf_path = Path(pdf_path)
    if not pdf_path.exists():
        raise FileNotFoundError(f"File non trovato: {pdf_path}")

    # Detect environment
    try:
        shell = get_ipython().__class__.__name__
    except NameError:
        shell = None

    if shell == 'ZMQInteractiveShell':  # Jupyter or Colab
        from IPython.display import IFrame, display
        display(IFrame(str(pdf_path), width=width, height=height))
    elif "vscode" in sys.executable.lower() or "vscode" in os.getcwd().lower():
        # VS Code environment ‚Üí opens in the browser
        webbrowser.open(pdf_path.resolve().as_uri())
        print(f"üìÇ PDF aperto nel browser: {pdf_path}")
    else:
        # Other environments (terminals, scripts)
        webbrowser.open(pdf_path.resolve().as_uri())
        print(f"üìÇ PDF aperto nel browser: {pdf_path}")